>파이썬에서 여러개의 값을 다루는 타입:  여러개 존재
  > * 리스트(튜플), 딕션어리: 데이터쪽 --> 이 타입들은 중복된 값들도 기본적 허용! 
  > * set: 코딩테스트에서는 알아는 두어야..  --> 수학적으로 집합처럼 중복된 값 허용X, 문제를 집합으로 접근할 때 교집합, 합집합

#리스트에서 정렬

In [4]:
num_list = [15, 22, 8 ,79, 10]
num_list.reverse()
num_list

[10, 79, 8, 22, 15]

In [5]:
num_list = [15, 22, 8 ,79, 10]
num_list.sort()   #오름차순
num_list

[8, 10, 15, 22, 79]

In [9]:
num_list = [15, 22, 8 ,79, 10]
num_list.sort(reverse=True)  #내림차순
num_list

[79, 22, 15, 10, 8]

In [13]:
#파이썬의 sorted 함수가 있음! 리스트의 메서드 아님
#len(리스트) sorted(리스트)
#    리스트.sort( ) vs sorted(리스트)
# -> 리스트가 변경, 리스트 안 변경     / 기능적으로는 동일
num_list = [15, 22, 8 ,79, 10]
new_list = sorted(num_list)
print(num_list)
print(new_list)
sorted(num_list)

[15, 22, 8, 79, 10]
[8, 10, 15, 22, 79]

[8, 10, 15, 22, 79]

In [14]:
#정렬에 대한 기준이 대표적으로 숫자의크기는 알겠는데,
#내가 원하는 기준대로 하면 안 될까?
# ---> 코딩테스트 사이트상 정렬 파트

In [16]:
str_list = ["좋은 하루", "good mornig","굿모닝","nice day"]
str_list

['좋은 하루', 'good mornig', '굿모닝', 'nice day']

In [18]:
sorted(str_list)

['good mornig', 'nice day', '굿모닝', '좋은 하루']

In [20]:
#정렬의 기준으로 내가 원하는 대로
#질문) 특이하게 2번째 글자를 기준으로 정렬을 하고 싶음
#은, o, 모 , i , -> nicedat, good_,굿모닝, 좋은
sorted(str_list, key = lambda x : x[1])

['nice day', 'good mornig', '굿모닝', '좋은 하루']

In [24]:
#글자의 개수를 중심으로 정렬
sorted(str_list, key = lambda x : len(x))

['굿모닝', '좋은 하루', 'nice day', 'good mornig']

In [26]:
sorted(str_list, key = lambda x : len(x), reverse = True)

['good mornig', 'nice day', '좋은 하루', '굿모닝']

In [28]:
sorted(str_list, key = lambda x : -len(x))

['good mornig', 'nice day', '좋은 하루', '굿모닝']

In [44]:
#내가 원하는 기준에 대해서 작성하는 가장 대표적인 예
#예) 이름, 수학성적에 대한 5명의 자료가 있을 때,
zumsu_list = [("A",0), ("B",5),("AA",3),("C",5),("B",1),("z",5),("D",3),("E",5)]
zumsu_list

[('A', 0),
 ('B', 5),
 ('AA', 3),
 ('C', 5),
 ('B', 1),
 ('z', 5),
 ('D', 3),
 ('E', 5)]

In [45]:
sorted(zumsu_list) #첫번째 기준 같으면 두번째 기준으로 정렬 (디폴트 오른차순)  --> 사전처럼

[('A', 0),
 ('AA', 3),
 ('B', 1),
 ('B', 5),
 ('C', 5),
 ('D', 3),
 ('E', 5),
 ('z', 5)]

In [47]:
#1) 위의 경우에서 이름을 중심으로 정렬 : key
sorted(zumsu_list, key = lambda x : x[0])  #첫번째 기준만 신경씀 나머지는 관심 없음 --> 첫번째 기준 같으면 수집한 데이터 기준으로 적음

[('A', 0),
 ('AA', 3),
 ('B', 5),
 ('B', 1),
 ('C', 5),
 ('D', 3),
 ('E', 5),
 ('z', 5)]

In [48]:
#2) 이름이 아니라 성적 순서대로 보고자 한다면
sorted(zumsu_list, key = lambda x : x[1])

[('A', 0),
 ('B', 1),
 ('AA', 3),
 ('D', 3),
 ('B', 5),
 ('C', 5),
 ('z', 5),
 ('E', 5)]

In [51]:
sorted(zumsu_list, key = lambda x : x[1], reverse = True)

[('B', 5),
 ('C', 5),
 ('z', 5),
 ('E', 5),
 ('AA', 3),
 ('D', 3),
 ('B', 1),
 ('A', 0)]

In [50]:
sorted(zumsu_list, key = lambda x : ( x[0], -x[1]))

[('A', 0),
 ('AA', 3),
 ('B', 5),
 ('B', 1),
 ('C', 5),
 ('D', 3),
 ('E', 5),
 ('z', 5)]

In [58]:
#위의 데이터에서 정렬 기준이 1. 성적이 높은순 (내림차순)
#혹시 성적이 같으면 이름은 알파벳순 (오름차순)

#reverse옵션은 전체에 해당
#정렬기준마다 오름/내림은 +,-로 처리
sorted(zumsu_list, key = lambda x : ( -x[1],x[0]))

[('B', 5),
 ('C', 5),
 ('E', 5),
 ('z', 5),
 ('AA', 3),
 ('D', 3),
 ('B', 1),
 ('A', 0)]

In [59]:
#리스트와 딕션어리에서 종합적인 정보를 가지고 돌릴
#리스트) 어디에(위치: 정수), 뭐 있어요?
a = ["a","b","c","d"]

In [60]:
#리스트에서 위치로 값을 찾을 때 : 정수 인덱스 -> 슬라이싱으로 찾을 때
a[1]

'b'

In [61]:
#리스트에서 값으로 위치 : index
a.index("b")

1

In [63]:
for i in enumerate(a):
    print(i)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')

In [66]:
for i,v in enumerate(a):
    print(i)
    print(v)
    print("-"*5)

0
a
-----
1
b
-----
2
c
-----
3
d
-----

In [67]:
#딕션어리는 키값, 벨류값 ->  .keys()  .values()  [키]
#동시에 .items()

In [68]:
d = {"a":100, "b":200, "c":300}
for i in d.items():
    print(i)

('a', 100)
('b', 200)
('c', 300)

In [70]:
for k,v in d.items():
    print(k)
    print(v)
    print("-"*5)

a
100
-----
b
200
-----
c
300
-----

##그리디 (Greedy)

In [90]:
#예제 동전 문제

#문제 상황에 대한 변수 및 초기화
cost = 4720
coin_type = [1, 50, 100, 500]


#문제에 의해 필요한 카운팅 변수
count = 0

#coin_type을 돌아가면서, 몫을 계산해서 누적
###잠시 큰 동전부터 해야하니 순서 정리
print(coin_type)
coin_type.sort(reverse = True)
print(coin_type)
for coin in coin_type:
    r = cost // coin
    count += r
    cost %= coin #cost = cost % coin
print(count)

[1, 50, 100, 500]
[500, 100, 50, 1]
31

In [ ]:
#M번 더하기 문제

In [94]:
##잠시 입력 처리 map
### 두 개의 수를 입력받아서 더하려고 한다
a,b = input("2개의 수를 공란으로 입력하세요").split(" ")   #구분하기 .split() 디폴트값 공란으로 구분
print(a+b)

#형 변환
a = int(a)
b = int(b)
print(a + b)

#map
def add_one(n):
    return n +1
add_one(10)

2개의 수를 공란으로 입력하세요2 5
25
7

11

In [96]:
[ 1,3, 5, 7, 9,11,3434,4343,3434]
#-> 2,4,6, 8, 10~~~~ : a+1
# -> for, 리스트 컴프리핸선..
# -> map

a = map(add_one, [1, 3, 5, 7, 9, 11, 3434, 4343, 3434])
a = list(a)
a
b = [1, 3, 5, 7, 9, 11, 3434, 4343, 3434]
[x+1 for x in b]

[2, 4, 6, 8, 10, 12, 3435, 4344, 3435]

In [ ]:
# 더하기 문제에 적용해보자->입력단에 수정..
a,b = map(int,input("2개의 수를 공란으로 입력하세요").split(" "))
print(a+b)

In [ ]:
#위의 결과를 리스트 컴프리핸션으로?
a,b = [int(x) for x in input("2개의 수를 공란으로 입력하세요.")]
print(a+b)

In [106]:
#입력단 설계
n, m, k = map(int, input("N M K 값 입력(공란)").split(" "))
data = list(map(int,input("N개 수 입력: 공란").split(" ")))
print(n, m, k, data)

N M K 값 입력(공란)5 8 3
N개 수 입력: 공란2 4 5 4 6
5 8 3 [2, 4, 5, 4, 6]

In [108]:
#주어진 data에서 first, second를 찾기 -> 정렬
data.sort() #작은 값-> 큰 값-> 가장 큰 값은 맨뒤
first = data[-1]
second = data[-2]
print(first)
print(second)
#큰 값을 앞으로 정렬하면..
#data.sort(reserve=True)
#first = data[0]
#second = data[1]

6
5

In [111]:
#가장 큰 틀은 M개의 수를 더하는 과정 : M번 돌리면서 + 
# -> k개씩 끊어서...
#수업상 while, for 둘 다 이야기하려고 혼용해서 사용

result = 0 # 더하는 값을 누적하기!!!
while True: #m번만 돌리고 나갈려니  m의 값을 1씩 줄이  --> 몇 번할지  모를 때 좋음 
    #1) 가장 큰 수 k번 더하기
    for _ in range(k): # 단순 k번 돌리기용
        #전체 m번 더하는거 끝났니?
        if m == 0:    
            break
        else: # 전체 더해야 하는 경우 남은 것들
            result += first
     #2) 쉬어가기 second 1개 더하기
    if m == 0:
        break
    else:
        result += second
        m -= 1
print(result)

0

In [112]:
#수 더하는 문제를 산수 문제로 보자~

In [116]:
# 입력단 설계
n, m, k = map(int,input("N M K 값 입력(공란)").split(" "))
data = list(map(int, input("N개 수 입력:공란").split()))
print(n,m,k, data)

N M K 값 입력(공란)5 8 3
N개 수 입력:공란2 4 5 4 6
5 8 3 [2, 4, 5, 4, 6]

In [117]:
# 주어진 data에서 first, second를 찾기 -> 정렬!!!
data.sort() # 작은 값->큰값 -> 가장 큰 값은 맨뒤,
first = data[-1]
second = data[-2]
print(first)
print(second)
# 큰 값을 앞으로 정렬하면..
# data.sort(reverse=True)
# first = data[0]
# second = data[1]

6
5

In [118]:
#덩어리를 중심으로 바라보고 M개의 수 중에서 
#first는 몇 개 있고, second는 몇 개 있는지 산수해서

#합을 처리할 변수 & 초기화
result = 0

#first가 총 더해지는 수
count_first = (m //(k+1)) * k
count_first += (m % (k+1))

#second가 총 더해지는 수
# 방법 1) 덩어리 개수로 보면
#count_second = m // (k+1)
# 방법 2) 전체 m - first수 빼기
count_second = m - count_first

#총 합에 대한 계산도 first, second 나눠서
result += count_first * first
result += count_second * second

print(result)

46

#정렬

In [98]:
##swap관련
arr = [3,10]
print(arr)
print("--------")
temp = arr[0]
arr[0] = arr[1]
arr[1] = temp
print(arr)

[3, 10]
--------
[10, 3]

In [99]:
arr = [3,10]
arr[0], arr[1] = arr[1], arr[0] #swap
print(arr)

[10, 3]

In [100]:
##선택 정렬 
arr = [20, 12, 10, 15, 2]
arr

[20, 12, 10, 15, 2]

In [101]:
# 0 번째 단계: 5개중에서 제일 작은 것 뽑자
            #5개 중 제일 앞(0번째)이 작다고 가정 (1등 기록지에 시작점 기록)
                #그 다음부터 (1번째) ~~ 맨 마지막까지 가면서
                #지금 위치의 값 vs 지금까지 제일 작다는 값 비교
                    #비교했을 때.. 더 작은 친구가 나오면... : if
                    # -> 1등 기록지에 업데이트..
            #남은 뒤에까지 다 훝고 비교가 끝나면
            #이제 제일 작은 친구를 0번째에다가 swap
# 1 번째 단계: 남은 4개중에서 제일 작은 것 뽑자
            #4개 중 제일 앞(1번째)이 작다고 가정 (1등 기록지에 시작점 기록)
                #그 다음부터 (1+1번째) ~~ 맨 마지막까지 가면서
                #지금 위치의 값 vs 지금까지 제일 작다는 값 비교
                    #비교했을 때.. 더 작은 친구가 나오면... : if
                    # -> 1등 기록지에 업데이트..
            #남은 뒤에까지 다 훝고 비교가 끝나면
            #이제 제일 작은 친구를 0번째에다가 swap
# 2 번째 단계: 남은 3개중에서 제일 작은 것 뽑자
      #-----> 3개 중 제일 앞(2번째)이 작다고 가정
# 3 번째 단계: 남은 2개중에서 제일 작은 것 뽑자
# 4 번째 단계: 남은 1개중에서 제일 작은 것 뽑자

In [104]:
for step in range(len(arr)):
    #step에서 제일 작은 친구 위치 적을 기록지
    min_step = step
    for i in range(step+1, len(arr)):
        if arr[i] < arr[min_step]:
            min_step = i
        else:
            pass
    #지금 단계에서 제일 작은 친구를 찾았으면 -> swap
    arr[step], arr[min_step] = arr[min_step], arr[step]
print(arr)

[2, 2, 10, 12, 15]

In [119]:
##삽입 정렬
#-0 step #9 정리 끝
#1 step #9, 5 -> 9하고 5 비교 -> 5가 작ㅇ으면 둘이 swap
#1 step #5, 9, 1 -> 9하고 1 비교 -> 1과 9 swap : 5, 1, 9
#           5하고 1 비교 -> 1과 5 swap : 1, 5, 9
#1 5 9 (4) -> 9하고 4비교 -> 4와 9 swap : 1, 5, 4, 9
#             5하고 4비교 -> 4와 5 swap : 1, 3, 5, 9
#             1하고 4비교 -> stop       : 1, 4, 5, 9 end
#1 4 5 9 (3) -> 9하고 3비교 -> 3하고 9 swap : 1, 4, 5, 3, 9
#               5하고 3비교 -> 3하고 5 swap : 1, 4, 3, 5, 9
#               4하고 3비교 -> 1 3 4 5 8
                1하고 3비교 ->크네.. stop

In [122]:
#i를 0이 아니라 1까지만 보내는 이유 
#비교 : (i-1) vs (i)비교하니
#맨 앞까지 비교하려면 i = 1    (0위치 vs 1 위치)
arr = [9, 5, 1, 4, 3]
for step in range(1, len(arr)):
    for i in range(step, 0 ,-1):  #앞으로 전진
        if arr[i-1] > arr[i]:
            arr[i], arr[i-1] = arr[i-1], arr[i]
print(arr)

[1, 3, 4, 5, 9]

In [125]:
##버블 정렬
arr = [-2, 45, 0 , 11, -9]
print(arr)

[-2, 45, 0, 11, -9]

In [126]:
#원소의 개수만큼 돌리자
for step in range(len(arr)):
    #2개씩 언제까지 돌릴꺼냐? 맨끝보다 -1까지
    for i in range(0, len(arr)-1-step):
        if arr[i] > arr[i+1]: #앞이 더 크면
            arr[i], arr[i+1] = arr[i+1], arr[i]
print(arr)

[-9, -2, 0, 11, 45]

#정렬 실제 문제

In [133]:
#성적 순 이름 출력 문제
#일단 기본 아이디어는 : [ (이름,성적), (이름,성적)...]
#--> 입력을 이런식으로 처리하면 , 했던 sort/ key/ lambda

#입력받은 학생 수 
n = int(input("몇 명의 학생의 이름과 성적, 공란"))
#(학생들의 이름, 성적) 묶어서 1개의 값으로 수집하겠음
data = []
for i in range(n):
    input_data = input("{0}번째 학생 이름 성적,공란".format(i+1)).split()
    data.append( (input_data[0], int(input_data[1]))  )
data

몇 명의 학생의 이름과 성적, 공란2
1번째 학생 이름 성적,공란홍길동 95
2번째 학생 이름 성적,공란이순신 78

[('홍길동', 95), ('이순신', 78)]

In [136]:
#내가 원하는 대로 정렬 : key, lambda
data.sort(key = lambda x : x [1])
data

#정렬된 결과 출력
for std in data:
    print(std[0], end=" ")
    
#다른 방식
for name, zumsu in data:
    print(name, end=" ")

이순신 홍길동 이순신 홍길동

In [135]:
#출력을 등수와 이름을 출력
for idx, std in enumerate(data):
    print(str(idx+1) + "등 : " + std[0])

1등 : 이순신
2등 : 홍길동