<a href="https://colab.research.google.com/github/yeonji0-0/Python-codes/blob/main/Quiz_%EA%B8%B0%EB%B3%B8%EB%AC%B8%EB%B2%95%EA%B4%80%EB%A0%A8%EB%A6%AC%EB%B7%B0%EB%AC%B8%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1.
[1,2,3,4,5,6,7,8,9,10,11,12] 중에서 짝수만 골라서
10 을 곱하는 결과를 나타내시오!!!!

In [ ]:
a = [1,2,3,4,5,6,7,8,9,10,11,12]
[i*10 for i in a if i % 2 == 0]

[20, 40, 60, 80, 100, 120]

Q2.

a = {"AA":27, "BB":34, "CC":45,"D":77, "E":56, "F":31,"G":16} 이 중에서 최고점과 최저점이 누구인지 찾으세요!!!

In [ ]:
a = {"AA":27, "BB":34, "CC":45,"D":77, "E":56, "F":31,"G":16}
min_score = min(a.values)
max_score = max(a.values)
for name,score in a:
  if score == min_score:
    print("최저점 :", name)
  elif score == max_name:
    print("최고점 :", name)
  else:
    pass

In [ ]:
#답
a = {"AA":27, "BB":34, "CC":45,"D":77, "E":56, "F":31,"G":16}
min_score = min(a.values())
max_score = max(a.values())
for name, score in a.items():
  if score == min_score:
    print("최저점 :", name)
  elif score == max_score:
    print("최고점 :", name)
  else:
    pass

최고점 : D
최저점 : G

Q3.

["A","A","AB","B","O","O","B","A","O","AB","AB","O","A","B","AB"] 이러한 혈핵형을 가지고 있을 때, for문을 이용해서 각 혈핵형별로 몇 명인지 총 인원을 구하세요!!!!

In [ ]:
a = ["A","A","AB","B","O","O","B","A","O","AB","AB","O","A","B","AB"]
A = 0
B = 0
O = 0
AB = 0
for i in a:
  if i == "A":
    A += 1
  elif i == "B":
    B += 1
  elif i == "O":
    O += 1
  else:
    AB += 1

print("A형 : {}, B형 : {}, O형 : {}, AB : {} ".format(A,B,O,AB))

A형 : 4, B형 : 3, O형 : 4, AB : 4

In [ ]:
#다른 방식
blood_data = ["A","A","AB","B","O","O","B","A","O","AB","AB","O","A","B","AB"]
blood_types = ["A","B","O","AB"]
#blood_data에서 "A"값과 같은 것들만 찾아서 몇 개인지 -> 리스트컴프리핸션
for b_type in blood_types:
  print(b_type ,len( [ person for person in blood_data if person == b_type]))

A 4
B 3
O 4
AB 4

Q4. 

구구단 11단 ~ 19단까지 결과를 출력하세요!!! (단, 출력 양식은 11 X 2 = 22 이런 식)

In [ ]:
for i in range(11,20):
  for num in range(1,10):
    gugu = i * num
    print(i, "*", num ,"=", gugu)
  print("-"*5)

11 * 1 = 11
11 * 2 = 22
11 * 3 = 33
11 * 4 = 44
11 * 5 = 55
11 * 6 = 66
11 * 7 = 77
11 * 8 = 88
11 * 9 = 99
-----
12 * 1 = 12
12 * 2 = 24
12 * 3 = 36
12 * 4 = 48
12 * 5 = 60
12 * 6 = 72
12 * 7 = 84
12 * 8 = 96
12 * 9 = 108
-----
13 * 1 = 13
13 * 2 = 26
13 * 3 = 39
13 * 4 = 52
13 * 5 = 65
13 * 6 = 78
13 * 7 = 91
13 * 8 = 104
13 * 9 = 117
-----
14 * 1 = 14
14 * 2 = 28
14 * 3 = 42
14 * 4 = 56
14 * 5 = 70
14 * 6 = 84
14 * 7 = 98
14 * 8 = 112
14 * 9 = 126
-----
15 * 1 = 15
15 * 2 = 30
15 * 3 = 45
15 * 4 = 60
15 * 5 = 75
15 * 6 = 90
15 * 7 = 105
15 * 8 = 120
15 * 9 = 135
-----
16 * 1 = 16
16 * 2 = 32
16 * 3 = 48
16 * 4 = 64
16 * 5 = 80
16 * 6 = 96
16 * 7 = 112
16 * 8 = 128
16 * 9 = 144
-----
17 * 1 = 17
17 * 2 = 34
17 * 3 = 51
17 * 4 = 68
17 * 5 = 85
17 * 6 = 102
17 * 7 = 119
17 * 8 = 136
17 * 9 = 153
-----
18 * 1 = 18
18 * 2 = 36
18 * 3 = 54
18 * 4 = 72
18 * 5 = 90
18 * 6 = 108
18 * 7 = 126
18 * 8 = 144
18 * 9 = 162
-----
19 * 1 = 19
19 * 2 = 38
19 * 3 = 57
19 * 4 = 76
19 * 5 = 95
19 * 6 = 114
19 * 7 = 133
19 * 8 = 152
19 * 9 = 171
-----

Q5. 

100 까지 수들 중에서 7의 배수들만 출력하세요!

In [ ]:
for i in range(1,101):
  if i % 7 == 0:
    print(i)

7
14
21
28
35
42
49
56
63
70
77
84
91
98

In [ ]:
#다른 방식
#리스트 컴프리핸션
[i for i in range(1,101) if i  % 7 == 0]

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98]

Q6. 아래와 같은 그림을 출력하세요  

1<br/>
22  
333  
4444  
55555  
666666

In [ ]:
for i in range(1,7):
  print(str(i)*i)

1
22
333
4444
55555
666666

Q7.아래와 같은 그림을 만드세요 <br>
@<br>
@@<br>
@@@<br>
@@@@<br>
@@@@@<br>

In [ ]:
for i in range(1,6):
  print("@"*i)

@
@@
@@@
@@@@
@@@@@

In [ ]:
print("@",end="X") # 기본 end -> \n 줄바꿈

@X

Q8. 입력한 수의 각 자리수를 더하는 프로그램을 작성하시오.<br>
예 : 12345--> 1+2+3+4+5=15

In [ ]:
a = input("숫자를 입력하세요")
b = 0
for i in range(len(a)):
  b += int(a[i])

b

숫자를 입력하세요1234

10

In [ ]:
#다른 방식
#문자열을 for문을 하면, 개별 문자별로 어쩌고 저쩌고~
#파이썬의for문을 문자열을 대상으로 하면, 개별 분자들을 돌려주는 역할
num = input("수를 입력하세요")
sum([ int(i) for i in num ])

수를 입력하세요1234

10

Q9.

1부터 100까지의 나열 할 때 1~9까지 숫자는 각각 몇 번 나타나는지를 세어 보세요!!!

In [ ]:
a = list(range(1,101))
for i in len(a):
  for j in len(a[i]):
    if a[i][j] =

In [ ]:
#답
#리스트의 기능 : count
#문자열 -> 문자들의 모여있는 것 -> 리스트
numstr = ""
#일단 1~100까지 숫자 만들기 -> range
for i in range(1, 101):
  numstr += str(i)
#탐색에 필요한 숫자 0~ 9까지
for j in range(0,10):
  print(str(j), ":", numstr.count(str(j)))

0 : 11
1 : 21
2 : 20
3 : 20
4 : 20
5 : 20
6 : 20
7 : 20
8 : 20
9 : 20

Q10.

a = [20,55,67,82,45,33,90,87,100,25]점수일 때, 50점 이상인 점수들의 합!!!!!<br> 
방법 1 : for/ range사용<br>
방법 2 : for/ 직접 값 사용<br>
방법 3 : while사용<br>

In [ ]:
a = [20,55,67,82,45,33,90,87,100,25]
b = []
for i in a:
    if i >= 50:
      b.append(i)

sum(b)

481

In [ ]:
a = [20,55,67,82,45,33,90,87,100,25]
b = []
for i in range(len(a)):
  if a[i] >= 50:
    b.append(a[i])

sum(b)

481

In [ ]:
#다른 방식
result = 0
for i in a:
  if i >= 50:
    result += i
  else:
    pass

result

481

In [ ]:
#리스트컴프리핸션
a = [20,55,67,82,45,33,90,87,100,25]
sum([i for i in a if i>= 50])

481

Q11.

1부터 입력받은 수까지 "홀수들의 합의 제곱"의 결과와 "짝수들의 제곱의 합"과의 차이를 구하시오!!! <br>
입력받은 수 : 5
홀수들의 합의 제곱 : (1+3+5) ^ 2 = 81<br>
짝수들의 제곱의 합 : (2^2 + 4^2) = 20<br>
이 둘의 차임 : 81-20

In [ ]:
a = int(input("숫자를 입력해주세요"))
b = list(range(1,a))

c = [x ** 2 for x in b if x % 2 == 1]
d = [x ** 2 for x in b if x % 2 == 0]
print(sum(c)-sum(d))

숫자를 입력해주세요5
-10

In [ ]:
#답
n = int(input("수를 입력하세요"))
odd = [i for i in range(1,n+1) if i % 2 == 1]
even = [i** 2 for i in range(1,n+1) if i % 2 == 0]
sum1 = sum(odd)**2
sum2 = sum(even)
print(abs(sum2-sum1))

수를 입력하세요5
61

Q12.

학생의 점수을 입력을 받아서, 그 점수에 해당하는 학점을 출력을 하고, <br>
그 학점이 A는 "참 잘했습니다", <br>
B는 "잘 했습니다.",<br>
C는 "좀 더 노력하세요", <br>
D는 "재수강을 권장합니다", <br>
F는 "꼭 다시 들으세요!!!"로 판별해주기.<br><br>

단, F: 30점 미만, D:30점 이상55점 미만, C : 55이상 85점 미만, B:85이상~90점 미만, A:90점 이상 이상

In [ ]:
score = int(input("점수를 입력하세요"))
if score >= 90:
  print("참 잘했습니다.")
elif 85 <= score < 90:
  print("잘했습니다.")
elif 55 <= score < 85:
  print("좀 더 노력하세요.")
elif 30 <= score < 55:
  print("재수강을 권장합니다.")
else:
  print("꼭 다시 들으세요.")

점수를 입력하세요54
재수강을 권장합니다.