# 기본 연습 문제

* Q) 4400명의 사람이 모였는데, 이들을 대상으로 20명씩 조를 만들려고 한다. 이 때 생성되는 조의 수는 몇 개인가?

In [ ]:
4400 // 20

In [10]:
#변수 만들기에 대한 문제 + 그 변수들의 연산
#변수 만들기 : 2개 -> 전체 인원, 조별 인원
#내가 만든 변수를 가지고 해결하려는 문제의 관계 고민
# -> 전체인원 / 조별 인원
tot = 4400
size = 20
group_count = tot / size
print(tot, "의 인원으로", size, "명씩 그룹으로 지으면", group_count, "조 생성됨")

4400 의 인원으로 20 명씩 그룹으로 지으면 220.0 조 생성됨

In [11]:
"4400명을 대상으로" + str(size)  #문자열로 바꿔서 표현

'4400명을 대상으로20'

In [12]:
"4400명을 대상으로 {}". format(size)

'4400명을 대상으로 20'

In [16]:
"{}명을 대상으로 {}명씩 그룳으로 나누면 {}조가 생성된다.".format(tot, size, group_count)

'4400명을 대상으로 20명씩 그룳으로 나누면 220.0조가 생성된다.'

In [14]:
"{0}명을 대상으로 {2}명씩 그룳으로 나누면 {1}조가 생성된다.".format(tot, size, group_count)  #파이썬 기준 숫자로 0부터 시작

'4400명을 대상으로 220.0명씩 그룳으로 나누면 20조가 생성된다.'

* Q) 4400명의 사람이 모였는데, 이들을 대상으로 30명씩 조를 만들려고 한다. 이 떄 생성되는 조의 수와 조에 편성이 안 되는 사람의 수는?

In [ ]:
4400 // 30
4400 % 30

In [2]:
#문제에서 변수 설정 : 전체 인원 4400명, 조별 인원 30명
#구하려는 1) 조의 수 : (몫 -> //연산자) 전체 인원 // 조별 인원
#구하려는 2) 조 편성 안되는 인원 : (나머지 -> %연산자) 전체 인원 % 조별 인원
tot = 4400
size = 30
group_num = tot // size
group_nam = tot % size
print("조의 수는 {0}, 남는 인원은{1}".format(group_num, group_nam))

조의 수는 146, 남는 인원은20

* Q)  국어 80점, 수학 55점, 영어 75점, 사회 80점 --> 이 사람의 평균을 구하는 코드를 작성하시오

In [23]:
##(80+55+75+80)/4
#방법 1) 그냥 각 과목별로 변수 만들어서
korean = 80
math = 55
english = 75
social = 80

avg_score = (korean + math + english + social)/4
print("평균 : {}".format(avg_score))

평균 : 72.5

In [27]:
#방법 2) 점수들 -> 리스트로 
zumsums = [80, 55, 75, 80]
print("평균 점수 :", sum(zumsums) / len(zumsums))

평균 점수 : 72.5

In [29]:
#방법 3) 그외 기타 등등...
#기본 파이썬에는 mean 함수 없음
import numpy as np
np.mean(zumsums)

72.5

In [ ]:
#또 다른 방법 : 구조적으로 우리가 앞으로 많이 쓸 구조
#리스트의 값을 돌려가면서 구현해보자 -> for
zumsums = [80, 55, 75, 80]
#내가 필요에 의해서 만든 변수들이 과정을 통해서 변하면 초기값 설정 중요!!
tot = 0
ont = 0
#좀 자체적으로 돌리기
for zumsum in zumsums:
    tot += zumsu   #tot  = tot + zumsum 풀어쓰면 이렇게 쓰임 빨리 쓰기 위해는 왼쪽꺼로 쓰기
    ont += 1       #ont = ont + 1
avg = tot / ont
print(avg)

* Q)  국어 80점, 수학 55점, 영어 75점, 사회 80점 --> 이 사람의 평균을 구하는 코드를 작성하시오   
(단, 이번에는 input을 활용하여 입력받는 점수를 바탕으로 평균을 구하세요!)

In [31]:
##a = input("한국어 점수를 입력하세요!!!")
##b = input("수학 점수를 입력하세요!!!")
##c = input("영어 점수를 입력하세요!!!")
##d = input("사회 점수를 입력하세요!!!")
##s = (a+b+c+d)/4
##print("4과목 평균 점수 :", s )
#input 함수 이해
a = input("성적을 입력하세요")
int(a) + 30

성적을 입력하세요80

110

In [34]:
korean = int(input("한국어 점수를 입력하세요"))  #input은 문자로 받기 때문에 계산하려면 숫자로 강제적으로 변환 필요
math = int(input("수학 점수를 입력하세요"))
english = int(input("영어 점수를 입력하세요"))
social = int(input("사회 점수를 입력하세요"))

avg_score = (korean + math + english + social)/4
print("평균 : {}".format(avg_score))

한국어 점수를 입력하세요80
수학 점수를 입력하세요55
영어 점수를 입력하세요75
사회 점수를 입력하세요80
평균 : 72.5

In [35]:
zumsums = []
zumsums.append(int(input("한국어 점수를 입력하세요")))
zumsums.append(int(input("수학 점수를 입력하세요")))
zumsums.append(int(input("영어 점수를 입력하세요")))
zumsums.append(int(input("사회 점수를 입력하세요")))

print("평균 점수 :", sum(zumsums) / len(zumsums))

한국어 점수를 입력하세요80
수학 점수를 입력하세요55
영어 점수를 입력하세요75
사회 점수를 입력하세요80
평균 점수 : 72.5

In [40]:
#번외로 우리가 국어, 수학, 과학, 사회,, 영어, 음악, 미술, 체육
subjects = ["국어","수학","과학","사회","영어","음악","미술","체육"]
zumsums = []

for subject in subjects:
    txt = subject + "성적을 입력하세요"
    zumsums.append(int(input(txt)))
print("평균 점수 :", sum(zumsums) / len(zumsums))

국어성적을 입력하세요85
수학성적을 입력하세요75
과학성적을 입력하세요95
사회성적을 입력하세요77
영어성적을 입력하세요86
음악성적을 입력하세요85
미술성적을 입력하세요68
체육성적을 입력하세요89
평균 점수 : 82.5

* Q) 주어진 수가 홀수인지, 아니면 짝수인지 판별할 수 있는 방법을 제시하여라.

In [42]:
num = int(input("홀짝을 판단하고자 하는 수를 입력하세요"))
if num % 2 == 0:
    print("짝수입니다.")
##else:
##    print("FALSE")
elif num % 2 == 1:
    print("홀수입니다.")
else:
    print("입력한 수를 점검하세요.")

홀짝을 판단하고자 하는 수를 입력하세요57
홀수입니다.

* Q) 주어진 수가 홀수인지, 아니면 짝수인지 판별할 수 있는 방법을 함수로 만들어보세요~ -> 바로 위의 문제에 대해서 함수로 만들어 보라는 의미임!

In [16]:
def num_fun(*args):    #args는 리스트로 받는 것이기 때문에 인덱스로 하나의 값만이라고 표현해 주어야 돌아가게 됨
    if args[0] % 2 ==0:
        return("짝수입니다")
    elif args[0] % 2 ==1:
        return("홀수입니다")
    else:
        return("입력한 수를 확인하세요")
num_fun(22)

'짝수입니다'

In [18]:
#함수 : 입력 : 숫자 1개  / 출력 : 입력 숫자에 대한 홀/짝 결과에 대한 문자열로 알려주겠다.
def check_eo(num):
    if num % 2 == 0:
        return "짝수입니다."  #출력을 뽑아내기 위해서는 return사용
    elif num % 2 == 1:
        return "홀수입니다."
    else:
        return "입력한 수를 확인하세요"

check_eo(88)

'짝수입니다.'

* Q) a = [1, 2, 3, 4,5]라는 리스트를 만들고, 여기에다가 append, insert를 활용하여 a= [1,2,"hello",4,5,"Hi","Monday"]를 만들어라

In [12]:
a = [1, 2, 3, 4,5]
a.append('Hi')
a.append('Monday')
a.insert(2, 'Hello')
a

[1, 2, 'Hello', 3, 4, 5, 'Hi', 'Monday']

In [25]:
a = [1, 2, 3, 4,5]
# a.append(["HI","Monday"]) 이렇게 되명 [ ] 묶여서 들어가게 됨
a.extend(["Hi","Monday"]) #확장
a

[1, 2, 3, 4, 5, 'Hi', 'Monday']

In [27]:
a = [1, 2, 3, 4,5]
a + ["Hi","Mondday"]  #원하는데로 보이지만 a에 업데이트 되지 않음

[1, 2, 3, 4, 5, 'Hi', 'Mondday']

* Q) 10을 2로 나눈 몫하고 210을 3으로 나눈 몫하고 같은지 비교하시오!

In [13]:
a = 10 // 2
b = 210 // 3
if a == b:
    print("TRUE")
else:
    print("FALSE")

FALSE

In [53]:
#비교 연산자 + 산술 연산자
(10 // 2) == (210 // 3)

False

In [54]:
(10 // 2) != (210 // 3)

True

* Q) 12345를 4로 나눈 나머지하고, 54321을 2로 나눈 나머지하고 비교하시오!!!

In [33]:
c = 12345 % 4
d = 54321 % 2
if c == d:
    print("TRUE")
else:
    print("FALSE")

TRUE

In [55]:
(12345 % 4) == (54321 % 2)

True

* a = [1, 2, 3, ['aa', 'bb', 'cc', ['hello', 'hi', 'hahaha']]] 에서 i를 접근해보세요. 정수 인덱스를 활용해서..

In [58]:
a = [1, 2, 3, ['aa', 'bb', 'cc', ['hello', 'hi', 'hahaha']]]
print(a)
print(a[3][3][1][1]) 
#중요한 사항은 바로 위의 값을 작성하는 것이 아니라 순차적으로 하나씩 찾아가면서 원하는 정보까지 도달하는 것
#직접 하나씩 찾아가는 것이 중요! json 정보 수집할 때!

[1, 2, 3, ['aa', 'bb', 'cc', ['hello', 'hi', 'hahaha']]]
i

* Q) a = ["a","b","c","d","e","f","g","h","i","j","k",1,2,3,4,5]  
1) :를 사용하여 a의 모든 값을  출력하세요  
2) :를 사용하여 a의 처음부터 5번째 까지 값을 출력하세요.  
3) :를 사용하여 a의 4번째부터 끝까지 값을 출력하세요.  
4) :를 사용하여 a의 2번째부터 6번째까지 값을 출력하세요.  
5) :를 사용하여 a의 홀수번째 위치한 값들을 출력하세요.  
6) :를 사용하여 a의 1,4,7,10번째 위치한 값들을 출력하세요!!

In [46]:
a = ["a","b","c","d","e","f","g","h","i","j","k",1,2,3,4,5]
print(a[ : ])
print(a[0:4])
print(a[3:len(a)-1])
print(a[1:5])
print(a[::2])
print(a[0:10:3])

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 1, 2, 3, 4, 5]
['a', 'b', 'c', 'd']
['d', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 1, 2, 3, 4]
['b', 'c', 'd', 'e']
['a', 'c', 'e', 'g', 'i', 'k', 2, 4]
['a', 'd', 'g', 'j']

In [ ]:
#슬라이싱 -> '인덱스'에서 여러개의 값을 연속될 때(슬라이딩도어 생각)
#인덱스 자리에 들어가게 되고[시작점:끝점:간격]
#생략이 되면 시작점은 처음, 끝점은 맨끝, 간격은 1로 기본값이 되어있음
#참고) range(시작점, 끝점(빠지고),간격) -> 내가 필요한 수를 규칙을 통해서 생성할 때 -> 반복문 for과 같이 주로 사용

In [59]:
a = ["a","b","c","d","e","f","g","h","i","j","k",1,2,3,4,5]
print(a[:])
print(a[:len(a)])
print(a[4:])
print(a[1:6])
print(a[::2])
print(a[:11:3]) #이 문제에서는 간격에 대해서 잘 사용하는 것이 중요

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 1, 2, 3, 4, 5]
['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 1, 2, 3, 4, 5]
['e', 'f', 'g', 'h', 'i', 'j', 'k', 1, 2, 3, 4, 5]
['b', 'c', 'd', 'e', 'f']
['a', 'c', 'e', 'g', 'i', 'k', 2, 4]
['a', 'd', 'g', 'j']

* Q) a = {"A":90, "B":80,"C":70 } 이 중에서 "B"의 점수를 출력해보세요!

In [48]:
a = {"A":90, "B":80,"C":70 }
a["B"] #key값을 적어줘야함 (정확하게 대소문자, 공백까지 key값과 동일하게 적어야함)

80

Q) a = {"A":30, "B":50, "C":10,"D":43, "E":85, "F":76,"G":32} 이 중에서 최고점과 최저점을 찾으세요!!!

In [3]:
a = {"A":30, "B":50, "C":10,"D":43, "E":85, "F":76,"G":32}
b = a.values()
print(max(b))
print(min(b))

10
85

In [60]:
a = {"A":30, "B":50, "C":10,"D":43, "E":85, "F":76,"G":32}
a.keys()
a.values()
print(min(a.values()))
print(max(a.values()))

10
85

Q) a = {"A":30, "B":50, "C":10,"D":43, "E":85, "F":76,"G":32} 이 중에서 최고점과 최저점이 누구인지 찾으세요!!!

In [5]:
a = {"A":30, "B":50, "C":10,"D":43, "E":85, "F":76,"G":32}
a.keys()
b = max(a.values())
c = min(a.values())
for i in a.keys
    if a[i] == b:
        return "최고점 : " ,i
    if a[i] == c:
        return "최저점 : ", i

최고점 :  E
최저점 :  C

In [65]:
a.items() #key와 value로 묶기

dict_items([('A', 30), ('B', 50), ('C', 10), ('D', 43), ('E', 85), ('F', 76), ('G', 32)])

In [66]:
for i in a.keys(): #for i in a:랑 같음
    print(i)

A
B
C
D
E
F
G

In [68]:
for i in a.items(): 
    print(i)

('A', 30)
('B', 50)
('C', 10)
('D', 43)
('E', 85)
('F', 76)
('G', 32)

In [70]:
for i in a.items(): 
    print(i)
    print("key:",i[0] )
    print("value:",i[1] )
    print("--" *5)

('A', 30)
key: A
value: 30
----------
('B', 50)
key: B
value: 50
----------
('C', 10)
key: C
value: 10
----------
('D', 43)
key: D
value: 43
----------
('E', 85)
key: E
value: 85
----------
('F', 76)
key: F
value: 76
----------
('G', 32)
key: G
value: 32
----------

In [72]:
for k,v in a.items():   #for문의 변수의 여러개  -> 중요!
    print(k)
    print(v)
    print("-----")

A
30
-----
B
50
-----
C
10
-----
D
43
-----
E
85
-----
F
76
-----
G
32
-----

In [75]:
#주어진 값들에서 최소값, 최대값을 찾기
min_val = min(a.values())
max_val = max(a.values())

for name,score in a.items():   
    if score == min_val:
        print("최소점 학생 :", name)
    elif score == max_val:
        print("최대점 학생 :", name)
    else:
        pass

최소점 학생 : C
최대점 학생 : E

In [77]:
min_val = min(a.values())
max_val = max(a.values())

for person in a.items(): #변수 하나만 받으면 안에 두 개 의 값이 들어있음
    if person[1] == min_val:
        print("최소점 학생 :", person[0])
    elif person[1] == max_val:
        print("최대점 학생 :", person[0])
    else:
        pass

최소점 학생 : C
최대점 학생 : E

*Q) 1부터 20까지 모든 수를 출력하는 프로그램을 만드세요(for/range)

In [80]:
for i in range(1,21):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [ ]:
#중요한 부분 : 우리가 필요한 것들이 숫자라면 range함수를 이용해서 만들고
#----> 거리에 덧붙여서 이것들을 돌려가면서 사용하려면 ..for와 함께
#여기서 우리가 필요한 것은 1~20까지 숫자가 필요 -> range(단, 시작점이 0이 아님)
#그 숫자들을 가지고 나는 할 것은 출력을 하는 것임
#--> 한번에가 아니라 그 숫자들을 하나씩 사용하면서 출력
for i in range(1,21,1)
   print(i)

* Q) "hello_1", "hello_2", ..., "hello_20"까지 출력하는 프로그램을 만드세요(for 사용)

In [84]:
for i in range(1,21):
    print("hello_",i)

hello_ 1
hello_ 2
hello_ 3
hello_ 4
hello_ 5
hello_ 6
hello_ 7
hello_ 8
hello_ 9
hello_ 10
hello_ 11
hello_ 12
hello_ 13
hello_ 14
hello_ 15
hello_ 16
hello_ 17
hello_ 18
hello_ 19
hello_ 20

In [105]:
for i in range(1, 21, 1):
    temp = "hello_"+str(i)
    print(temp)

hello_1
hello_2
hello_3
hello_4
hello_5
hello_6
hello_7
hello_8
hello_9
hello_10
hello_11
hello_12
hello_13
hello_14
hello_15
hello_16
hello_17
hello_18
hello_19
hello_20

In [ ]:
#반복문의 또 다른 종류 : while문  -> 종료 조건 설계하였는지 체크
while 조건이 참일 때 까지:  (*꼭 언제 굴레에소 나갈지 종료 조건에 대한 설정!)
    무엇을 수행할지 기록! 
#반복문 : for vs while
for : 딱 정해진 값들만 돌린다
while : 조건이 만족할 때까지 죽어라 돌린다 -> 그러므로 빠져나갈 부분 설계 필요

In [107]:
i = 1 
while i < 21: #i 값이 21보다 작을 때까지 무한히 돌자 아니면 종료
    print(i)
    i = i + 1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [108]:
i = 20
while i >0:
    print(21-i)
    i = i - 1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

* Q) a = ["one","two","three","four"] 과 for문을 이용하여
b = ['one1', 'two2', 'three3', 'four4']을 만드세요.  
1) for& range 방법   
2) for & a 바로 방법   
2가지 방식으로 하세요!!!

In [104]:
a = ["one","two","three","four"]
for i in range(0,5):
     print(a[i],i+1)
b =

one 1
two 2
three 3
four 4

IndexError: list index out of range

In [112]:
a = ["one","two","three","four"]
b = []
for i in range(1,5,1):
    temp = a[i-1]+str(i)
    b.append(temp)
b

['one1', 'two2', 'three3', 'four4']

In [114]:
b = []
for i in range(0,len(a)):
    temp = a[i] + str(i+1)
    b.append(temp)
b

['one1', 'two2', 'three3', 'four4']

In [116]:
for i in a:
    print(i)

one
two
three
four

In [117]:
num = 1
b =[]
for i in a:
    temp = i + str(num)
    b.append(temp)
    num += 1
b

['one1', 'two2', 'three3', 'four4']

* Q) 1번/2번 학생의 시험 점수를 리스트로 만들고, 이에 대한 평균을 구하시오.  
예: a = [10,20,30,40], b=[50,20,10,13]에 대해서, 각기 평균을 구하시오!   
단, 시험 점수가 변동이 생길 수 있고, 시험 과목도 변동이 생길 수 있으니 a/b 중심으로 코드를 구현하세요!

46.0
46.0

* Q)  a = ["Life", "is","too", "short", "you","need","python"] a 리스트를 화룡해서 yoo too 출력해보기!!!

In [119]:
a = ["Life", "is","too", "short", "you","need","python"] 
print(a[4],a[2])

you too

In [128]:
a = ["Life", "is","too", "short", "you","need","python"] 
temp = a[4]+" "+a[2]
temp

'you too'

* Q) ["Life", "is", "too","short"]라는 리스트를 활용해서 Life is too short 이라는 문장 만들기!!!

In [123]:
a = ["Life", "is", "too","short"]
print(a[0],a[1],a[2],a[3])

Life is too short

In [129]:
a = ["Life", "is", "too","short"]
result = "  ".join(a)
print(result)

Life  is  too  short

* Q)  a = [1,2,3,4,5,6] 이 리스트의 원소의 갯수는?

In [125]:
a = [1,2,3,4,5,6] 
len(a)

6

* Q) a [ 1,2,3,4,5]라는 리스트를 [1,3,5]로 만들기!!!

In [139]:
a = [ 1,2,3,4,5]
a.pop(1)
a

[1, 3, 4, 5]

In [140]:
a.pop(2) #pop으로 뽑으면 인덱스 흔들리므로 조심하기
a

[1, 3, 5]

In [142]:
a = [ 1,2,3,4,5]
a.remove(4) #값을 중심으로 지우는데, 동일하 값이 여러개면 그 중 앞에 1개만 삭제
a

[1, 2, 3, 5]

Q) a=[100,200,300,400,500] 리스트에 있는 모든 원소에 다 10을 더해서 
   b=[110,210,310,410,510]로 만들어보세요

In [148]:
a=[100,200,300,400,500]
b =[]
for i in a:
    temp = i + 10
    b.append(temp)
b

[110, 210, 310, 410, 510]

In [154]:
a=[100,200,300,400,500]
b = a + 10

TypeError: can only concatenate list (not "int") to list

In [151]:
a=[100,200,300,400,500]
[i for i in a]  #a까지 돌리고 모으기

[100, 200, 300, 400, 500]

In [152]:
a=[100,200,300,400,500]
[i+10 for i in a]

[110, 210, 310, 410, 510]

In [153]:
import numpy as np
a = np.array([1,2,3,4,5])
b = a + 10
b

array([11, 12, 13, 14, 15])

a가 a=[100,200,300,400,500] : 원래는 수가 랜덤으로, 중복가능, 엄청 많이 있다고
    a의 원소 값이 200과 400이 아닌 값들에 대해서만 찾아서 +10을 하세요

In [156]:
a = [100,200,300,400,500]
b = []
# i != 200 or i != 400보다는 아래 조건문 이용하는 것이 더 바람직
for i in a:
    if i not in [200,400]:  # i의 값이 리스트 안의 200,400에 없다면
        b.append(i + 10)
    else:
        pass
b

[110, 310, 510]

In [159]:
a = [100,200,300,400,500]
[i+10 for i in a if i not in [200,400]]  #구조 외워두기!

[110, 310, 510]

* Q) a = 10 양수, 음수, 0인지 판단을 하고 싶다!! --> 완성 후에는 input을 활용하여 하는 것으로 추가 구현

In [168]:
num = int(input("0,양수,음수 판단할 수를 입력해주세요"))
if num == 0:
    print(str(num)+"는 0이다")
elif num > 0:
    print(str(num)+"는 양수이다")
else:
    print(str(num)+"는 음수이다")

0,양수,음수 판단할 수를 입력해주세요5
5는 양수이다

* Q1) 입력받은 양의 정수(자연수) 홀수/짝수인지 판단을 하고, 그 결과를 출력해주세요!!

홀짝을 판단하고자 하는 수를 입력하세요!!!-3
이상해요1!!!!

* Q) * Q2) A라는 사람이 5000원의 돈을 가지고 있고, 카드는 없다.  
A의 상태는   
money = 5000  
card = False  
이 사람이 목적지까지 택시를 타고 가려고 한다.
목적지까지 가기 위해서는 카드를 소유하고 있거나, 4000원 이상의 현금을 가지고 있어야 한다.
A 는 이 목적지까지 갈 수 있는지 판단해보세요!!!

갈 수 있다!!!!

* Q) 입력을 받은 자연수에 대해서 몇 자리 수인지 판단하세요!!!(최대 9999까지)

세자리수

* Q) a = 10, b = 20을 가지고, a=20, b=10이라고 서로 수를 바꾸는 프로그램을 작성하시오!!!

처음 입력20
두번째 입력30
변화된 a값: 30
변화된 b값: 20

* Q) kg에 대한 값을 g으로 변환하는 프로그램을 작성하시오(예:1.2kg => 1200g)

입력하세요[kg]!!!1.2
1200.0

* Q) g에 대한 값을 kg으로 변환하는 프로그램을 작성하시오!(예:1200g ==> 1.2kg)

입력하세요[g]!!!1234
1.234

* Q)  3개의 수에 대해서, 가장 큰 수를 찾는 프로그램을 작성하시오!!!
(예를 들면, 10, 20, 17이라는 3개의 수가 있다고 하면, 이 중에서 제일 큰 수 20을 찾는 프로그램)

20

* Q) 1부터 100까지 합!!!!

5050

* Q) 1부터 100까지 곱!!

93326215443944152681699238856266700490715968264381621468592963895217599993229915608941463976156518286253697920827223758251185210916864000000000000000000000000

* Q) 시험 성적 점수 [90, 80,35,24,65,74,93]  
시험 통과가 60점 이상이라고 할 때,
몇 번째 학생이 통과했는지 알려주세요!!!!!

In [169]:
#방법1)
#기존 방식
#학생의 점수들을 돌아가면서 :for
#---> 점수가 60점 이상인지 아닌지 판단: if
#-----> 60점 이상이면.. : counting -> counting용 변수 필요
score =  [90, 80,35,24,65,74,93]
score_num = []
for i in score:
    if i > 60:
        score_num.append(i)
    else:
        pass
len(score_num)

5

In [176]:
cnt = 0 #카운팅용으로 사용
zumsus =  [90, 80,35,24,65,74,93]
for zum in zumsus:
    if zum >= 60:
        cnt += 1 # cnt = cnt + 1
    else:
        pass
print(cnt)

5

In [171]:
#방법2)
#리스트 컴프리핸션
#-> 점수들에 대해서 60점 이상인 것들만 모으자  : comprehenstion
#-> 몇 개 모였지? : len
score =  [90, 80,35,24,65,74,93]
len([i for i in score if i > 60 ])

5

In [ ]:
[i for i in zumsus if i >= 60]

* Q) ["A","B","A","O","AB","AB","O","A","B","AB"] 이러한 혈핵형을 가지고 있을 때, for문을 이용해서 각 혈핵형별로 몇 명인지 총 인원을 구하세요!!!!

In [188]:
a = ["A","B","A","O","AB","AB","O","A","B","AB"]
A = 0
B = 0
AB = 0
O = 0
for i in a:
        if i == "A":
             A += 1
        elif i == "B":
             B += 1
        elif i == "AB":
             AB += 1
        elif i == "O":
             O += 1
        else:
            print("잘못입력하셨습니다")
print("A형은",str(A)+"명, B형은",str(B)+"명, AB형은",str(AB)+"명, O형은",str(O)+"명 입니다")

A형은 3명, B형은 2명, AB형은 3명, O형은 2명 입니다

In [190]:
#방법1) 그냥 하기
blood_data = ["A","B","A","O","AB","AB","O","A","B","AB"]
cnt_a = 0
cnt_b = 0
cnt_ab = 0
cnt_o = 0

for blood in blood_data:
    if blood == "A":
        cnt_a += 1
    elif i == "B":
        cnt_b += 1
    elif i == "AB":
        cnt_ab += 1
    elif i == "O":
        cnt_o += 1    
print("A형:",cnt_a)
print("B형:",cnt_b)
print("AB형:",cnt_ab)
print("O형:",cnt_o)

A형: 3
B형: 0
AB형: 7
O형: 0

In [197]:
#방법1 수정하기  -----> *많이 사용하는 구조*
blood_data = ["A","B","A","O","AB","AB","O","A","B","AB"]
blood_types = ["A","B","AB","O"]
blood_counts = [0, 0, 0, 0]
for blood in blood_data:
    for i in range(len(blood_types)):
        if blood == blood_types[i]:
            blood_counts[i] = blood_counts[i] + 1
        else:
            pass
blood_counts

[3, 2, 3, 2]

In [198]:
#컴프리핸션이 반복되어 나타나므로 for이용해서 다시 표현하기
blood_data = ["A","B","A","O","AB","AB","O","A","B","AB"]
b_types =  ["A","B","AB","O"]
for b_type in b_types:
    print(b_type, len([blood for blood in blood_data if blood == "b_type"]))

A 0
B 0
AB 0
O 0

* Q) [1,2,3,4,5,6,7,8,9,10,11,12] 중에서 홀수만 골라서  
3을 곱하는 결과를 나타내시오!!!!

In [208]:
#방법 1-1) 그냥 하는 방법 : for , if -> range 이용해서
a = [1,2,3,4,5,6,7,8,9,10,11,12] 
for i in range(len(a)):
    if i % 2 == 1:
        temp = i *3
        print(temp)
    else:
        pass

3
9
15
21
27
33

In [217]:
a = [1,2,3,4,5,6,7,8,9,10,11,12] 
b = []
for i in range(len(a)):
    if a[i] % 2 == 1:
        b.append(a[i]*3)
b

[3, 9, 15, 21, 27, 33]

In [209]:
#방법 1-2) 그냥 하는 방법 : for , if -> 값으로
a = [1,2,3,4,5,6,7,8,9,10,11,12] 
for i in a:
    if i % 2 == 1:
        temp = i *3
        print(temp)
    else:
        pass

3
9
15
21
27
33

In [ ]:
a = [1,2,3,4,5,6,7,8,9,10,11,12] 
b = []
for i in a:
    if i % 2 == 1:
        b.append(a[i]*3)
b

In [205]:
#방법2)리스트 컴프리핸션 이용
a = [1,2,3,4,5,6,7,8,9,10,11,12] 
b = [i*3 for i in a if i % 2 == 1]
b

[3, 9, 15, 21, 27, 33]

In [ ]:
[i*3 for i in a if i % 2 == 1]

* Q) 구구단 2단, 3단, ..., 19단까지 결과를 출력하세요!!!

In [218]:
for i in range(2,10):
    for num in range(1,10):
        temp = i * num
        print(i, "*", num ,"=",temp)
    print("-"*10)

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
----------
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
----------
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
----------
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
----------
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
----------
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
----------
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
----------
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
----------

In [ ]:
for first in range(2,20,1):
    for second in range(1,10,1):
        print(first,"X",second)

* Q) 100 까지 소수를 모두 찾아보세요!!!!

[1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 ...]

* Q) 두 수 54, 24의 최대공약수, 공약수를 구해보세요!!!

첫번째 수를 입력하세요 : 54
두번째 수를 입력하세요 : 24
54와 24의 공약수는 [1, 2, 3, 6]
6

*Q) @@@@@ 을 출력하세요!!!

In [223]:
'@'+'@'+'@'+'@'+'@'

'@@@@@'

In [226]:
'@'*5

'@@@@@'

In [234]:
for i in range(5):
    print("@", end = "")  #end = "\n" 디폴트값

@@@@@

In [233]:
for _ in range(5): #단순 반복용일때 _ 로 씀
     print("@", end = "")

@@@@@

* Q)   
@@@@@  
@@@@@  
@@@@@  
@@@@@

In [239]:
for _ in range(4):
    for _ in range(5):
        print("@", end="")
    print("@")

@@@@@@
@@@@@@
@@@@@@
@@@@@@

In [240]:
for _ in range(4):
    for _ in range(5):
        print("@", end="")
    print("") #1개의 가로줄을 다 하면 다음줄로 바꿔주기

@@@@@
@@@@@
@@@@@
@@@@@

In [238]:
for _ in range(4):
  print("@"*5)

@@@@@
@@@@@
@@@@@
@@@@@

@
@@
@@@
@@@@
@@@@@

* Q) 위의 그림을 만드세요

In [244]:
for i in range(1,6):
    print("@"*i)
print("")

@
@@
@@@
@@@@
@@@@@

@@@@@
 @@@@
  @@@
   @@
    @

* Q) 위의 그림을 만드세요!!!

In [247]:
for i in range(1,6):
    temp = 6 - i
    print("@"*temp)
print("")

@@@@@
@@@@
@@@
@@
@

In [248]:
#대상이 크게 2종류: " " 와 "@"
print(" "*0 + "@"*5)
print(" "*1 + "@"*4)
print(" "*2 + "@"*3)
print(" "*3 + "@"*2)
print(" "*4 + "@"*1)

@@@@@
 @@@@
  @@@
   @@
    @

In [249]:
#" "의 수를 i라고 하면
for i in range(5):
    print(" "*i + "@"*(5-i))
print("")

@@@@@
 @@@@
  @@@
   @@
    @

    @
   @@@
  @@@@@
 @@@@@@@
@@@@@@@@@

* Q) 위의 그림을 만드세요!

In [10]:
for i in range(5):
    print(" "*(4-i) + "@"*(2*i+1))
print("")

    @
   @@@
  @@@@@
 @@@@@@@
@@@@@@@@@

In [12]:
#일단 1줄 씩 찍어보기: 종류는 " ", "@"
print(" "*4, "@"*1)
print(" "*3, "@"*3)
print(" "*2, "@"*5)
print(" "*1, "@"*7)
print(" "*0, "@"*9)

     @
    @@@
   @@@@@
  @@@@@@@
 @@@@@@@@@

In [ ]:
#규칙 관점1)
for i in range(4, -1, -1):
print(" "*i + "@"*( 2 * (4-i) + 1))  # i : 4, 3, 2, 1, 0

#규칙 관점2)
for i in range(5):
print(" "* (4-i) + "@"* (2 * i + 1)) #i : 0, 1, 2, 3, 4

@@@@@@@@@
 @@@@@@@
  @@@@@
   @@@
    @

* Q) 위의 그림을 만드세요

In [14]:
for i in range(5):
    print( " "*i + "@"*(2*(4-i)+1))
print("")

@@@@@@@@@
 @@@@@@@
  @@@@@
   @@@
    @

In [18]:
#일단 직점 해보자 : "@", " "
print(" "*0 + "@"*9)
print(" "*1 + "@"*7)
print(" "*2 + "@"*5)
print(" "*3 + "@"*3)
print(" "*4 + "@"*1)

@@@@@@@@@
 @@@@@@@
  @@@@@
   @@@
    @

In [19]:
#i : 0 ~ 4
for i in range(5):
    print( " "*i + "@"*(2*(4-i)+1))

@@@@@@@@@
 @@@@@@@
  @@@@@
   @@@
    @

1
22
333
4444
55555
666666
7777777
88888888
999999999

* 위와 같은 결과를 만드세요

In [264]:
for i in range(1,10):
    print("i" * i)
print("")

i
ii
iii
iiii
iiiii
iiiiii
iiiiiii
iiiiiiii
iiiiiiiii

In [262]:
print("1"*1)
print("2"*2)
print("3"*3)
print("4"*4)
print("5"*5)
print("6"*6)
print("7"*7)
print("8"*8)
print("9"*9)

1
22
333
4444
55555
666666
7777777
88888888
999999999

In [263]:
for i in range(1,10):
    print(str(i) * i)

1
22
333
4444
55555
666666
7777777
88888888
999999999

* Q) 학생의 점수을 입력을 받아서, 그 점수에 해당하는 학점을 출력을 하고, 그 학점이 A는 "참 잘했습니다", B는 "잘 했습니다.", C는 "좀 더 노력하세요", D는 "재수강을 권장합니다", F는 "꼭 다시 들으세요!!!"로 판별해주기.  
단, F: 40점 미만, D:40점 이상~60점 미만, C : 60이상~80점 미만, B:80이상~90점 미만, A:90점 이상 이상

* 한 점을 구성하는 (x,y)의 좌표를 입력받고, 이 점이 (50,40), (50,80), (100,40), (100,80)을 꼭지점으로 하는 사각형 안에 있는지 판단하세요!!!

In [31]:
x = int(input("x의 값을 입력하세요"))
y = int(input("y의 값을 입력하세요"))

if (50 <  x < 100) & (40 <  y < 80):
    print("사각형 안에 있습니다")
else:
    print("사각형 밖에 있습니다")

x의 값을 입력하세요10
y의 값을 입력하세요22
사각형 밖에 있습니다

In [51]:
x = int(input("x의 값을 입력하세요"))
y = int(input("y의 값을 입력하세요"))

if ( 100 >  x and 50 <  x) and (80 >  y and y > 40):
    print("사각형 안에 있습니다")
else:
    print("사각형 밖에 있습니다")

x의 값을 입력하세요10
y의 값을 입력하세요22
사각형 밖에 있습니다

In [ ]:
#파이썬에서 논리적인 and연산의 FM: and, 간략 &(경우에 따라서 이 표현이 안될 때 있음)

* Q) 입력한 수의 각 자리수를 더하는 프로그램을 작성하시오.  
예 : 12345--> 1+2+3+4+5=15

수를 입력해주세요12345

TypeError: can only concatenate str (not "int") to str

* Q) a,b,c가 자연수 일때, a + b + c = 100을 만족하는 중복되지 않는 세 자연수의 개수를 구하는 프로그램을 작성하시오. 예를 들어서(30,40,30)은 (40,30,30)과 같은 경우라고 한다!!!!

833

* Q) 1부터 100까지의 나열 할 때 1~9까지 숫자는 각각 몇 번 나타나는지를 세어 보세요!!!

0 : 11
1 : 21
2 : 20
3 : 20
4 : 20
5 : 20
6 : 20
7 : 20
8 : 20
9 : 20

* Q) a = [20,55,67,82,45,33,90,87,100,25]점수일 때, 50점 이상인 점수들의 합!!!!!   
방법 1 : for/ range사용,  
방법 2 : for/ 직접 값 사용,  
방법 3 : while사용

481

* Q) 1부터 100까지 3의 배수들의 합!!!!! for

* Q)1부터 100까지 3의 배수들의 합!!!!! while

* 야구 게임 : 1S 1B 1O에 대한 것을 만들어 보시오. 다만 처음에 하기 위해서는 random으로 시작을 해야함!!! -> 단, 처음에 지정하는 3개의 숫자는 동일하지 않음!!!3개의 수는 서로 다 다르다!

In [4]:
from random import randint

9 7 8
첫번째 숫자를 입력하세요: 9
두번째 숫자를 입력하세요: 7
세번째 숫자를 입력하세요: 1
Ball: 0 Strike: 2
9 7 8
첫번째 숫자를 입력하세요: 9
두번째 숫자를 입력하세요: 8
세번째 숫자를 입력하세요: 7
Ball: 2 Strike: 1
9 7 8
첫번째 숫자를 입력하세요: 9
두번째 숫자를 입력하세요: 7
세번째 숫자를 입력하세요: 8
Game End

* Q)숫자 up/down으로 1~100까지 수 중에서 알아 맞추기!!! random이용!!!

In [4]:
import random

1~100 숫자 Up & Down 게임을 시작합니다 !!!
---------------------------
1 ~ 100 사이의 숫자를 입력하세요 : 30
Down
1 ~ 100 사이의 숫자를 입력하세요 : 155
Down
1 ~ 100 사이의 숫자를 입력하세요 : 15
Down
1 ~ 100 사이의 숫자를 입력하세요 : 8
Down
1 ~ 100 사이의 숫자를 입력하세요 : 4
Down
1 ~ 100 사이의 숫자를 입력하세요 : 2
---------------------------
6 번 만에 정답을 맞추셨습니다.

* Q) 1부터 입력받은 수까지 "합의 제곱"의 결과와 "제곱의 합"과의 차이를 구하시오!!!    
합의 제곱 : 1^2 + 2^2 + ... + 10^2 = 385   
제곱의 합 : (1+2+3..+10)^2 = 3025

입력하세요!!!10
2640

* Q)  핸드폰 번호 뒤에 4자리만 남기고, 앞의 7자리에 대한 것을 *로 지워보세요!!! (함수 만들어서!!!)

In [2]:
encryfunc("010-1234-5678")

'*********5678'