# 01 Data type

### 변수명 규칙
 - a-z, A-Z, _, . ,한글
 - 첫째, 변수명은 특수문자 중 '.'(마침표) 와 '_'(언더바), 영어, 숫자만 사용가능.
 - 둘째, 변수명은 숫자나 '_'(언더바)로 시작할 수 없습니다. 
 - 변수명은 영어와 마침표로만 시작가능.
 - 셋째, 변수명이 '.'(마침표)로 시작하면 바로 뒤엔 영어가 와야 된다.

In [1]:
print("hello")

[1] "hello"

In [2]:
한글 = 10
print(한글)

[1] 10

In [3]:
10abc = 20 
_acd = 30  # 에러남

ERROR: Error in parse(text = x, srcfile = src): <text>:1:3: 예상하지 못한 기호(symbol)입니다.
1: 10abc
      ^

In [4]:
.avc = 40
print(.avc)

[1] 40

In [5]:
.12abc = 40 # 앞에 .도 에러남

ERROR: Error in parse(text = x, srcfile = src): <text>:1:4: 예상하지 못한 기호(symbol)입니다.
1: .12abc
       ^

In [6]:
abc.def = 50

In [7]:
abc <- 100 # a=100
print(abc)

[1] 100

### R에서 사용되는 데이터 타입에는 
 - Numeric(숫자), 
 - integer(정수)
 - 복소수
 - 함수타입
 - Character(문자), 
 - Logical(논리), 
 - Date/Time(시간)
 - vector
 - list
 - array
 - dataframe

In [8]:
a= 10
b = 3.14
c = 20L
print(a)
print(b)
print(c)
print( typeof(a)) # 타입
print( class(a)) # 분류
print( str(a)) # 분류 상세정보
print( typeof(b)) # 타입
print( class(b)) # 분류
print( str(b)) # 분류 상세정보
print( typeof(c)) # 타입
print( class(c)) # 분류
print( str(c)) # 분류 상세정보

[1] 10
[1] 3.14
[1] 20
[1] "double"
[1] "numeric"
 num 10
NULL
[1] "double"
[1] "numeric"
 num 3.14
NULL
[1] "integer"
[1] "integer"
 int 20
NULL

In [9]:
d = 3 + 4i
print(d)
print( typeof(d)) # 타입
print( class(d)) # 분류

[1] 3+4i
[1] "complex"
[1] "complex"

In [10]:
e = TRUE # TRuE( T ) FALSE (F)
print(e)
print( typeof(e)) # 타입
print( class(e)) # 분류

[1] TRUE
[1] "logical"
[1] "logical"

In [11]:
fn = function(){
  print("hello")
}
print(fn)
print( typeof(fn)) # 타입
print( class(fn)) # 분류
fn()

function(){
  print("hello")
}
[1] "closure"
[1] "function"
[1] "hello"

In [ ]:
# function fn1(){ # error
#   print("korean")
# }

In [12]:
s1 = 'abc'
s2 = "abc"
print(s1)
print( typeof(s1)) # 타입
print( class(s1)) # 분류
print(s2)
print( typeof(s2)) # 타입
print( class(s2)) # 분류

[1] "abc"
[1] "character"
[1] "character"
[1] "abc"
[1] "character"
[1] "character"

In [13]:
## as.xxx (형 변환 함수)
t = "2020-11-12"
print(t)

[1] "2020-11-12"

In [14]:
t = as.Date("2020-11-12")
print(t)
print( typeof(t)) # 타입
print( class(t)) # 분류

[1] "2020-11-12"
[1] "double"
[1] "Date"

In [15]:
### 복합데이터 (1차원 2차원 3차원 이상)
v = c(10, 20, 30) # vector 타입(1차원) - 하나의 type으로만 구성
print(v)
print( typeof(v)) # 타입
print( class(v)) # 분류
str(v)

[1] 10 20 30
[1] "double"
[1] "numeric"
 num [1:3] 10 20 30

In [16]:
v = c(10, 20, 30,40L) # vector 타입
print(v)
print( typeof(v)) # 타입
print( class(v)) # 분류
str(v)

[1] 10 20 30 40
[1] "double"
[1] "numeric"
 num [1:4] 10 20 30 40

In [17]:
v = c(10, 20, 30,40L, "abc") # vector 타입
print(v)
print( typeof(v)) # 타입
print( class(v)) # 분류
str(v)

[1] "10"  "20"  "30"  "40"  "abc"
[1] "character"
[1] "character"
 chr [1:5] "10" "20" "30" "40" "abc"

In [18]:
myL = list( 10,20,30)
print(myL)
print( typeof(myL)) # 타입
print( class(myL)) # 분류
str(myL)

[[1]]
[1] 10

[[2]]
[1] 20

[[3]]
[1] 30

[1] "list"
[1] "list"
List of 3
 $ : num 10
 $ : num 20
 $ : num 30

In [19]:
myL = list( 10,20,30, "abc") # 1차원 여러개의 type으로만 구성
print(myL)
print( typeof(myL)) # 타입
print( class(myL)) # 분류
str(myL)

[[1]]
[1] 10

[[2]]
[1] 20

[[3]]
[1] 30

[[4]]
[1] "abc"

[1] "list"
[1] "list"
List of 4
 $ : num 10
 $ : num 20
 $ : num 30
 $ : chr "abc"

In [20]:
myL1 = list( a=10, b=20, c=30)
print( myL1 )

$a
[1] 10

$b
[1] 20

$c
[1] 30

In [21]:
v1 = 1:5 # c( 1,2,3,4,5) - sequence 문법 # 1:5:2 (x)
print(v1)

[1] 1 2 3 4 5

In [22]:
v2 = 1:12
print(v2)

 [1]  1  2  3  4  5  6  7  8  9 10 11 12

In [ ]:
?matrix

In [23]:
# m = matrix(v2, 3, 4)
m = matrix( v2, nrow=3,ncol=4) # 컬럼의 타입이 동일
print(m)

     [,1] [,2] [,3] [,4]
[1,]    1    4    7   10
[2,]    2    5    8   11
[3,]    3    6    9   12

In [24]:
m1 = matrix( v2, nrow=3,ncol=4, byrow = TRUE) # 컬럼의 타입이 동일
print(m1)
View(m1)

     [,1] [,2] [,3] [,4]
[1,]    1    2    3    4
[2,]    5    6    7    8
[3,]    9   10   11   12

ERROR: Error in View(m1): 'View()' not yet supported in the Jupyter R kernel

In [ ]:
?data.frame

In [25]:
df = data.frame(ID = c("1001","1002","1003"), Score = c(90,80,70))
print(class(df))
print(df)
View(df)

[1] "data.frame"
    ID Score
1 1001    90
2 1002    80
3 1003    70

ERROR: Error in View(df): 'View()' not yet supported in the Jupyter R kernel

In [26]:
df = data.frame(ID= c('1001','1002','1003'), Score=c(90,80,70),
                row.names =c('kim','hong','lee'))
print( class(df))
print( df )
View(df)

[1] "data.frame"
       ID Score
kim  1001    90
hong 1002    80
lee  1003    70

ERROR: Error in View(df): 'View()' not yet supported in the Jupyter R kernel

In [ ]:
?array

In [27]:
arr = array( c(1,2,3,4), dim = c(2,2,3) ) # 행 열 면
print(arr)

, , 1

     [,1] [,2]
[1,]    1    3
[2,]    2    4

, , 2

     [,1] [,2]
[1,]    1    3
[2,]    2    4

, , 3

     [,1] [,2]
[1,]    1    3
[2,]    2    4

In [ ]:
?factor

In [28]:
f = factor( c("m","f","f","m"))
print(f)
print(class(f))

[1] m f f m
Levels: f m
[1] "factor"

# 02 ooperator

## 산술연산자
 1. **,^ : 지수연산자
 2. *, /, %%, %/%
 3. +, -
 결합도 좌-> 우

In [30]:
a = 23
rst = a**3 # a^3
print(rst)

[1] 12167

In [31]:
a = 23
rst = a*3
print(rst)

[1] 69

In [32]:
rst = a/2
print(rst)

[1] 11.5

In [33]:
rst = a%%2 # 나머지 연산자
print(rst)

[1] 1

In [34]:
rst = a%/%2 # 몫 연산자
print(rst)

[1] 11

In [35]:
rst <- 3*2^2 + 3 - 1
print(rst)

[1] 14

In [36]:
# 반지름이 5인경우 원의 면적을 구하시오(3.14 내장변수 pi)
r = 5
Area = r^2*pi
print(Area)

[1] 78.53982

In [37]:
## 관계연산자: < , > , ==, <=, >=, !=
a = 5
rst = a > 0
rst = a >= 0
rst = a < 0
rst = a <= 0
rst = a == 0
rst = a != 0
print( rst )

[1] TRUE

* 우선순위 : 산술 - 관계 - 논리                                                                    
* 논리연산자 &&, & , ||, |, !
* &&, & (모두 TRUE TRUE)

In [39]:
a = 5
rst = a>0 && a == 0
print(rst)

[1] FALSE

In [40]:
a = 5
rst = a>0 & a == 0
print(rst)

[1] FALSE

In [41]:
v = c(1,2,3)
print(v[1])

[1] 1

In [42]:
rst = c(1,2,3) & c(3,4,5)
print(rst)

[1] TRUE TRUE TRUE

In [43]:
rst = c(T,T,F) & c(T,F,T) # 모든 인덱스에 대해서
print(rst)

[1]  TRUE FALSE FALSE

In [44]:
rst = c(T,T,F) && c(T,F,T) # 1번째 인덱스만
print(rst)

[1] TRUE

In [45]:
## ||, | (모두 FALSE FALSE)
rst = a > 0 || a == 0
print(rst)

[1] TRUE

In [46]:
rst = a > 0 | a == 0
print(rst)

[1] TRUE

In [48]:
rst = !a<0
print(rst)

[1] TRUE

In [49]:
# 논리 복합데이터 %in%
print( 20 %in% c(10,20,30))
print( c(20, 30) %in% c(10,20,30))
print( c(20, 100) %in% c(10,20,30))

[1] TRUE
[1] TRUE TRUE
[1]  TRUE FALSE

In [50]:
# 연산자 생성 "%any%"
"%s%" <- function(x, y) {
  return(x^2*2)
}
print(2%s%3)

[1] 8

In [51]:
# 3항 연산자  python : 10 if a>0 else 20
a = 20
rst = ifelse(a>0, 100, 200)
print(rst)

[1] 100

In [ ]:
?ifelse

In [52]:
a = -20
rst = ifelse(a>0, 100, 200)
print(rst)

[1] 200

# 03 typeconv

In [ ]:
## as.xxxx() 형변환 함수..

In [53]:
s = "100"
n = as.numeric(s)
print(n)

[1] 100

In [54]:
s = "3.14"
f = as.numeric(s)
print(f)

[1] 3.14

In [55]:
n = as.integer(s)
print(n)

[1] 3

In [56]:
a = 100
s = as.character(a)
print(s)

[1] "100"

In [57]:
a= 10
my = as.logical(a)
print(my)

[1] TRUE

In [58]:
a= 3.14 # 0 이면 FALSE, 0이 아닌 numeric은 TRUE
my = as.logical(a)
print(my)

[1] TRUE

In [59]:
a= "abc" # 문자열 x
my = as.logical(a)
print(my)

[1] NA

# 04 printcat

In [60]:
print(10)

[1] 10

In [61]:
print(10, 20)

[1] 10

In [62]:
cat(10)

10

In [ ]:
?cat

In [63]:
cat(10, 20, sep = "-", fill=T) # fill=T 면 칸을 띄워서

10-20

In [64]:
cat(100)

100

In [ ]:
?readline

In [65]:
n = readline("점수입력:")
cat(n , typeof(n))

점수입력:85
85 character

## 과제 1

In [66]:
# 1. 키와 몸무게를 입력받아 비만도를 구하고 결과를 출력하시요(함수를 만드시요)
# 표준체중(kg)=(신장(cm)-100)×0.85
# 비만도(%)=현재체중/표준체중×100
# 비만도가90%이하
# 저체중,
# 90초과~110%
# 정상,
# 110초과~120%
# 과체중,
# 120%초과 
# 비만 

height = as.integer(readline("키를 입력하시오:"))
weight = as.integer(readline("몸무게를 입력하시오:"))
std_weight = (height - 100)*0.85
big = weight/std_weight*100
if (big <= 90) {
  print("저체중")
}else if (big > 90 & big <= 110){
  print("정상")
}else if (big >110 & big <= 120){
  print("과체중")
}else{
  print("비만")
}

키를 입력하시오:179
몸무게를 입력하시오:73
[1] "정상"

In [67]:
# 2. 년도 입력받아
# 1) 윤년여부를 출력하는 함수를 만드시요
# 윤년의 조건
# 1-1) 4로 나눠 떨어지지만 100으로 나눠 떨어지지 않아야 한다 또는
# 1-2) 400 으로 나눠 떨어지면 윤년임
# 2) 나이를 출력하는 함수를 만드시요
# 3) 띠(12지신)를 출력하는 함수를 만드시요

year = as.integer(readline("연도 입력:"))
result = ifelse( year %% 4 == 0 & year %% 100 != 0 | year %% 400 == 0,'윤년','윤년아님')
print( result)

연도 입력:2015
[1] "윤년아님"

In [68]:
age = 2022-year+1
print(age)

thi = switch (as.character(year %% 12),
  '0'="잔나비띠",'1'="닭띠",'2'="개띠",'3'="돼지띠",'4'="쥐띠",'5'="소띠",'6'="범띠",'7'="토끼띠",'8'="용띠",'9'="뱀띠",'10'="말띠",'11'="양띠")
print(thi)

[1] 8
[1] "양띠"

In [69]:
# 3.  하나의 점수를 입력받아 (switch 문을 이용하시요)
# 90~100 'A'
# 80~89 'B'
# 70~79 'C'
# 60~69 'D'
# 나머지 'F'
x = as.integer(readline("입력:"))
b = switch (as.character(x %/% 10), '10' = "A", '9' = "A",  "8" = "B", '7' ="C", '6' ="D", "F")
print(b)

입력:95
[1] "A"

In [70]:
# 4. km 를 입력받아 마일로 변환하시요
km = as.integer(readline("마일로 변환:"))
mile = km*0.62137
print(mile)

마일로 변환:45
[1] 27.96165

In [71]:
# 5. 화씨 를 입력받아 도로 변환하시요
FF = as.integer(readline("화씨:"))
c = (FF-32)/1.8
print(c)

화씨:42
[1] 5.555556

In [ ]:
# 6. 2개의 정수를 입력받아 절대값의 합을 구하시요 ( 반드시 로직으로 구현)
a = as.integer(readline("입력:"))
b = as.integer(readline("입력:"))
a = ifelse( a<0, -1*a, a)
b = ifelse( b<0, -b, b)
print(a+b)

In [ ]:
# 7. 반지름과 높이를 입력받아 원기둥의 부피와 원뿔의 부피를 구하시요.
r = as.integer(readline("입력:"))
h = as.integer(readline("입력:"))
V = pi*r^2*h
CV = V/3
cat(V,CV)