In [1]:
print("hello")

[1] "hello"

<img src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=http%3A%2F%2Fcfile30.uf.tistory.com%2Fimage%2F9930233F5A5C3844146549">

In [3]:
# R은 이게 된다
a = 10
b = 20
a
b

[1] 10

[1] 20

## 벡터를 생성하는 방법엔 3가지가 
- c()를 이용해 값들을 벡터로 결합해주는 방법,
기본적으로 R에서 여러개의 요소를 묶어줄 때 사용.
- rep() 반복 함수를 통해 생성,
- seq(), ':' 와 같이 범위를 지정하는 함수를 통해 생성하는 방법

In [6]:
t = c(10,20,30,40)
t
print(t)
cat(t)

[1] 10 20 30 40

[1] 10 20 30 40
10 20 30 40

In [7]:
?rep

In [9]:
y = rep(1, 5)
y

[1] 1 1 1 1 1

In [10]:
?seq

In [11]:
sq = seq(1,5) # 1:5
sq

[1] 1 2 3 4 5

In [12]:
sq1 = seq(1,5,2) # 1:5:2(X)
sq1

[1] 1 3 5

In [13]:
sq2 = seq(10,1,-1) # 1:5:2(X)
sq2

 [1] 10  9  8  7  6  5  4  3  2  1

## 인덱싱
- 1,2,3,4,...

In [14]:
t = c(10,20,30,40,50,60,70)

In [15]:
t[1]

[1] 10

In [16]:
t[-1]

[1] 20 30 40 50 60 70

In [18]:
t[-2]

[1] 10 30 40 50 60 70

## 복수개 인덱싱

In [19]:
## python : t[[2,3]]
t[c(2,3)]

[1] 20 30

In [20]:
t[c(-2, -3)]

[1] 10 40 50 60 70

In [22]:
# t[c(1,2,3)]
t[1:3]
t[seq(1,3)]

[1] 10 20 30

[1] 10 20 30

In [23]:
## 문제 : 홀수인덱스 데이터선택
t[seq(1,length(t),2)]

[1] 10 30 50 70

In [25]:
t[3:length(t)] # R은 끝까지라는걸 해줘야댐

[1] 30 40 50 60 70

In [28]:
## 문제 : 역순 벡터
t[seq(length(t),1,-1)]

[1] 70 60 50 40 30 20 10

## 불리언 인덱싱

In [31]:
## python : t[[True,False,...,False]] 개수가 꼭 맞춰져야한다. 벡터가아니라 시리즈
t
t[ c(T,F,F,T,T,F,T)]
t[c(T,F,F)] # 반복이 된다

[1] 10 20 30 40 50 60 70

[1] 10 40 50 70

[1] 10 40 70

## 벡터의 연산(산술,관계,논리)
- element wise(요소별 : 동일한 인덱스끼리)
- broad casting(자동확장)

In [32]:
a = c(1,2,3)
b = c(10,20,30)
a+b

[1] 11 22 33

In [34]:
t
t + 2 # c(2,2,2,2,2)
t + c(2,3) # c(2,3,2,3,2,3,2)

[1] 10 20 30 40 50 60 70

[1] 12 22 32 42 52 62 72

Warning message in t + c(2, 3):
"두 객체의 길이가 서로 배수관계에 있지 않습니다"

[1] 12 23 32 43 52 63 72

In [36]:
# 각 연봉 세금 3.3%를 제한 실수령액을 구하시요
salary <- c(1000,2000,3000,4000)
salary * 0.967

[1]  967 1934 2901 3868

## 관계연산자

In [38]:
t
t>30
t[ t>30 ]

[1] 10 20 30 40 50 60 70

[1] FALSE FALSE FALSE  TRUE  TRUE  TRUE  TRUE

[1] 40 50 60 70

In [40]:
t
t == 30 | t == 50
t >= 20 & t <= 50

[1] 10 20 30 40 50 60 70

[1] FALSE FALSE  TRUE FALSE  TRUE FALSE FALSE

[1] FALSE  TRUE  TRUE  TRUE  TRUE FALSE FALSE

In [41]:
t
t[t == 30 | t == 50]
t[t >= 20 & t <= 50]

[1] 10 20 30 40 50 60 70

[1] 30 50

[1] 20 30 40 50

## 추가, 수정, 삭제, 검색, 정렬

### 수정

In [42]:
t
t[1] = 100
t

[1] 10 20 30 40 50 60 70

[1] 100  20  30  40  50  60  70

In [45]:
t[2:4] = 200
t

[1] 100 200 200 200  50  60  70

In [46]:
t = c(10,20,30,40,50,60,70)
t

[1] 10 20 30 40 50 60 70

In [49]:
t[2:4] + 2
t

[1] 22 32 42

[1] 10 20 30 40 50 60 70

In [50]:
t[2:4] = c(11,22,33)
t

[1] 10 11 22 33 50 60 70

In [55]:
t[3:6] = t[3:6] + 2
t

[1] 10 11 24 35 52 62 70

In [57]:
t = c(10,20,30,40,50,60,70)
# 퀴즈 30이상인데이터에 기존의 값에 3을 더한 것으로 수정하셈
t[3:7] = t[3:7] + 3
t

[1] 10 20 33 43 53 63 73

In [58]:
t = c(10,20,30,40,50,60,70)
t[t>=30] = t[t>=30]+3
t

[1] 10 20 33 43 53 63 73

### 추가

In [59]:
t = c(10,20,30,40,50,60,70)

In [60]:
c( c(11,22), t)

[1] 11 22 10 20 30 40 50 60 70

In [ ]:
# t = c( c(11,22), t) # 적용

In [61]:
c( t, c(11,22))

[1] 10 20 30 40 50 60 70 11 22

In [62]:
?append

In [63]:
append(t, c(1,2,3))

 [1] 10 20 30 40 50 60 70  1  2  3

In [70]:
append(t, c(1,2,3),2)

 [1] 10 20  1  2  3 30 40 50 60 70

In [66]:
u = c()
u = append(u,10)
u = append(u,20)
u

[1] 10 20

In [75]:
install.packages("magrittr")

  There is a binary version available but the source version is later:
         binary source needs_compilation
magrittr  2.0.1  2.0.3              TRUE

  Binaries will be installed
package 'magrittr' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\2106-024\AppData\Local\Temp\RtmporW3Vg\downloaded_packages

In [76]:
library( magrittr)

Warning message:
"package 'magrittr' was built under R version 3.6.3"

In [78]:
append(t, c(11,22,33))
t %>% append(c(11,22,33))
t %>% append(c(11,22,33)) %>% append(c(11,22,33))

 [1] 10 20 30 40 50 60 70 11 22 33

 [1] 10 20 30 40 50 60 70 11 22 33

 [1] 10 20 30 40 50 60 70 11 22 33 11 22 33

In [79]:
s = "abcdefg"
nchar(s)
s %>% nchar

[1] 7

[1] 7

In [80]:
s1 = "abc def ghi"
strsplit(s1, split=" ")
s1 %>% strsplit(split=" ")

[[1]]
[1] "abc" "def" "ghi"

[[1]]
[1] "abc" "def" "ghi"

## 삭제

In [1]:
t = c(10,20,30,40,50,60,70)

In [2]:
t[-1]

[1] 20 30 40 50 60 70

In [3]:
t[c(-1,-3)]

[1] 20 40 50 60 70

In [4]:
?which

In [5]:
which(t>=30)

[1] 3 4 5 6 7

In [6]:
-1 * c(1,2,3)

[1] -1 -2 -3

In [8]:
t[which(t>=30)]

[1] 30 40 50 60 70

In [7]:
t[ -which(t>=30)]

[1] 10 20

30 or 60 데이터를 삭제해

In [10]:

t[-which(t%%30==0)]

[1] 10 20 40 50 70

In [11]:
t[-(which(t==30|t==60))]

[1] 10 20 40 50 70

In [12]:
?setdiff # 삭제할 값

In [13]:
setdiff(t, c(40,60))

[1] 10 20 30 50 70

50 이상인 데이터 삭제