In [1]:
import pymysql

### 일단 mysql에 대한 윈도우 서비스가 실행이 되고 있어야 함

#### 1) 연결 관련 설정

In [2]:
mysql_con = pymysql.connect(
        user = "root", #사용자 이름
        passwd = "1234", # 계정에 대한 비밀번호
        host = "127.0.0.1", #접속한 mysql에 대한 ip주소
        db = "sqldb", #mysql 내부에 내가 접속한 DataBase이름
        charset = "utf8" #파이썬에서 한글이 안 깨지기 하기 위해
)

#### 2) 실질적인 연결

In [3]:
my_cursor = mysql_con.cursor(pymysql.cursors.DictCursor)

#### 3) 요청할 쿼리 -> 문자열
 - 주의사항) 쿼리문의 종료를 알리는 ;까지 문자열로 포함해서 쿼리문을 작성해야 함

In [4]:
sql = "select * from usertbl;"

#### 4) 실제 쿼리문 요청

In [5]:
my_cursor.execute(sql)

10

#### 5) 4에서 실행한 결과에서 다시 몇 개를 가지고 와서 볼지

In [6]:
result = my_cursor.fetchall()
result

[{'userID': 'BBK',
  'name': '바비킴',
  'birthYear': 1973,
  'addr': '서울',
  'mobile1': '010',
  'mobile2': '00000',
  'height': 176,
  'mDate': datetime.date(2013, 5, 5)},
 {'userID': 'EJW',
  'name': '은지원',
  'birthYear': 1972,
  'addr': '경북',
  'mobile1': '011',
  'mobile2': '88888',
  'height': 174,
  'mDate': datetime.date(2014, 3, 3)},
 {'userID': 'JKW',
  'name': '조관우',
  'birthYear': 1965,
  'addr': '경기',
  'mobile1': '018',
  'mobile2': '99999',
  'height': 172,
  'mDate': datetime.date(2010, 10, 10)},
 {'userID': 'JYP',
  'name': '조용필',
  'birthYear': 1950,
  'addr': '경기',
  'mobile1': '011',
  'mobile2': '44444',
  'height': 166,
  'mDate': datetime.date(2009, 4, 4)},
 {'userID': 'KBS',
  'name': '김범수',
  'birthYear': 1979,
  'addr': '경남',
  'mobile1': '011',
  'mobile2': '22222',
  'height': 173,
  'mDate': datetime.date(2012, 4, 4)},
 {'userID': 'KKH',
  'name': '김경호',
  'birthYear': 1971,
  'addr': '전남',
  'mobile1': '019',
  'mobile2': '33333',
  'height': 177,
  'mDate': datetime.date(2007, 7, 7)},
 {'userID': 'LJB',
  'name': '임재범',
  'birthYear': 1963,
  'addr': '서울',
  'mobile1': '016',
  'mobile2': '66666',
  'height': 182,
  'mDate': datetime.date(2009, 9, 9)},
 {'userID': 'LSG',
  'name': '이승기',
  'birthYear': 1987,
  'addr': '서울',
  'mobile1': '011',
  'mobile2': '11111',
  'height': 182,
  'mDate': datetime.date(2008, 8, 8)},
 {'userID': 'SSK',
  'name': '성시경',
  'birthYear': 1979,
  'addr': '서울',
  'mobile1': None,
  'mobile2': None,
  'height': 186,
  'mDate': datetime.date(2013, 12, 12)},
 {'userID': 'YJS',
  'name': '윤종신',
  'birthYear': 1969,
  'addr': '경남',
  'mobile1': None,
  'mobile2': None,
  'height': 170,
  'mDate': datetime.date(2005, 5, 5)}]

#### 6) pandas의 DF으로

In [9]:
import pandas as pd

In [10]:
result_df = pd.DataFrame(result)
result_df

  userID name  birthYear addr mobile1 mobile2  height       mDate
0    BBK  바비킴       1973   서울     010   00000     176  2013-05-05
1    EJW  은지원       1972   경북     011   88888     174  2014-03-03
2    JKW  조관우       1965   경기     018   99999     172  2010-10-10
3    JYP  조용필       1950   경기     011   44444     166  2009-04-04
4    KBS  김범수       1979   경남     011   22222     173  2012-04-04
5    KKH  김경호       1971   전남     019   33333     177  2007-07-07
6    LJB  임재범       1963   서울     016   66666     182  2009-09-09
7    LSG  이승기       1987   서울     011   11111     182  2008-08-08
8    SSK  성시경       1979   서울    None    None     186  2013-12-12
9    YJS  윤종신       1969   경남    None    None     170  2005-05-05

### 기본적인 쿼리문 테스트

In [11]:
# DB를 만들기
sql = "create database testtt;"
my_cursor.execute(sql)

1

In [22]:
# DB 없애기
sql = "drop database testtt;"
my_cursor.execute(sql)

0

In [ ]:
# DB를 만들기
sql = "create database testpython;"
my_cursor.execute(sql)

In [9]:
# 연결할 기본정보 세팅 -> table 만들기
mysql_con = pymysql.connect(
        user = "root", #사용자 이름
        passwd = "1234", # 계정에 대한 비밀번호
        host = "127.0.0.1", #접속한 mysql에 대한 ip주소
        db = "testpython", #mysql 내부에 내가 접속한 DataBase이름
        charset = "utf8" #파이썬에서 한글이 안 깨지기 하기 위해
)
my_cursor = mysql_con.cursor(pymysql.cursors.DictCursor)
sql = "create table user_info(ID INT NOT NULL AUTO_INCREMENT, USER_ID VARCHAR(50) NOT NULL, USER_EMAIL VARCHAR(100) NOT NULL, PRIMARY KEY(ID));"
my_cursor.execute(sql)

0

In [12]:
mysql_con = pymysql.connect(
        user = "root", #사용자 이름
        passwd = "1234", # 계정에 대한 비밀번호
        host = "127.0.0.1", #접속한 mysql에 대한 ip주소
        db = "testpython", #mysql 내부에 내가 접속한 DataBase이름
        charset = "utf8" #파이썬에서 한글이 안 깨지기 하기 위해
)
my_cursor = mysql_con.cursor()
sql = "insert into user_info (USER_ID,USER_EMAIL) values(%s, %s)"
my_cursor.execute(sql,("best-01","best@gmail.com"))
my_cursor.execute(sql,("medici","medici@naver.com"))
mysql_con.commit()

In [ ]:
# -> DML : Data Manipulation Lanuage -> Insert, Update, Delete
# 위와 같이 접속에 대한 부분을 commit 처리를 해야 함

In [13]:
sql = "select * from user_info where USER_ID = %s"
my_cursor.execute(sql, ("medici"))
my_cursor.fetchall()

((4, 'medici', 'medici@naver.com'),)

In [14]:
mysql_con = pymysql.connect(
        user = "root", #사용자 이름
        passwd = "1234", # 계정에 대한 비밀번호
        host = "127.0.0.1", #접속한 mysql에 대한 ip주소
        db = "testpython", #mysql 내부에 내가 접속한 DataBase이름
        charset = "utf8" #파이썬에서 한글이 안 깨지기 하기 위해
)
my_cursor = mysql_con.cursor()

#update -> insert 한 것 처럼 연결에 대한 commit를 해줘야 함
sql = "update user_info set USER_ID = %s where USER_EMAIL=%s"
#-> 회원가입에서 본인 이메일로 인증을 한 이후에 PW/ID 변경 할 때
my_cursor.execute(sql,("MEDICI","medici@naver.com"))
mysql_con.commit()
mysql_con.close()

In [15]:
#일반적으로 처리 할 때는 
# -> 연결 관련된 기본적인 속성값들 세팅
mysql_con = pymysql.connect(
        user = "root", #사용자 이름
        passwd = "1234", # 계정에 대한 비밀번호
        host = "127.0.0.1", #접속한 mysql에 대한 ip주소
        db = "testpython", #mysql 내부에 내가 접속한 DataBase이름
        charset = "utf8" #파이썬에서 한글이 안 깨지기 하기 위해
)

# 
try:
    with mysql_con.cursor() as cursor:
        sql = "delete from user_info where USER_EMAiL = %s"
        cursor.execute(sql, ("medici@naver.com"))
    mysql_con.commit()
    
    with mysql_con.cursor () as cursor:
        sql = "select * from user_info;"
        cursor.execute(sql)
        result = cursor.fetchall()
        print(result)
        
finally: #에러가 나건 안 나건 꼭 실행해야하는 코드를 기입할 때
    mysql_con.close()

((1, 'best-01', 'best'), (2, 'best-02', 'best'), (3, 'best-01', 'best@gmail.com'))

# Python Class

## 추상화
* 프로그램에서 필요한 요소만을 사용해서, 대상(객체)을 표현하는 것을 추상화
* 자료/모듈/시스템 등으로 부터 핵심적인 개념 및 기능을 간추려내는 것을 추상화

#### 예제) 학생 성적관리 프로그램을 만든다고 하자
- 우리가 필요한 정보는 무엇인가? ->학생 이름, 과목마다 성적 등등이 필요할 것임                                               
- 이러한 것을 우리는 그러면 파이썬으로는 리스트, 딕션어리 등등..

In [35]:
#학생 이름, 국어, 수학, 영어, 과학

students = [
    {"name":"AAA", "korean":98, "math":93, "english":80, "science": 95},
    {"name":"BBB", "korean":88, "math":65, "english":79, "science": 78},
    {"name":"CCC", "korean":78, "math":78, "english":74, "science": 86},
    {"name":'DDD', "korean":89, "math":88, "english":98, "science": 98},
    {"name":"EEE", "korean":99, "math":95, "english":94, "science": 94},
    {"name":"FFF", "korean":78, "math":78, "english":89, "science": 68},
    {"name":"GGG", "korean":68, "math":84, "english":78, "science": 54},
    {"name":"HHH", "korean":91, "math":93, "english":88, "science": 95}
    
]
students

[{'name': 'AAA', 'korean': 98, 'math': 93, 'english': 80, 'science': 95},
 {'name': 'BBB', 'korean': 88, 'math': 65, 'english': 79, 'science': 78},
 {'name': 'CCC', 'korean': 78, 'math': 78, 'english': 74, 'science': 86},
 {'name': 'DDD', 'korean': 89, 'math': 88, 'english': 98, 'science': 98},
 {'name': 'EEE', 'korean': 99, 'math': 95, 'english': 94, 'science': 94},
 {'name': 'FFF', 'korean': 78, 'math': 78, 'english': 89, 'science': 68},
 {'name': 'GGG', 'korean': 68, 'math': 84, 'english': 78, 'science': 54},
 {'name': 'HHH', 'korean': 91, 'math': 93, 'english': 88, 'science': 95}]

In [36]:
# 그러면 학생이름, 총점, 평균을 출력하기
print("이름", "총점", "평균", sep="\t")
for student in students:
    score_sum = student["korean"] + student["math"] + student["english"] \
                + student["science"]
    score_avg = score_sum / 4
    print(student["name"], score_sum,score_avg, sep="\t")

이름	총점	평균
AAA	366	91.5
BBB	310	77.5
CCC	316	79.0
DDD	373	93.25
EEE	382	95.5
FFF	313	78.25
GGG	284	71.0
HHH	367	91.75

In [37]:
# 학생에 대한 특징을 만드는 것을 함수로 만들어 보자 
def create_student(name, korean, math, english, science):
    return {"name":name, "korean":korean, "math":math, "english":english,"science" : science}

In [38]:
sutdents = [
    create_student("AAA",98,93,79,95),
    create_student("BBB",78,87,87,91),
    create_student("CCC",87,88,83,93),
    create_student("DDD",98,93,79,95),
    create_student("EEE",88,78,99,48),
    create_student("FFF",98,93,89,98),
    create_student("GGG",68,73,80,56),
    create_student("HHH",87,78,86,85),
    create_student("AAA",98,93,79,95)
    
]
students

[{'name': 'AAA', 'korean': 98, 'math': 93, 'english': 80, 'science': 95},
 {'name': 'BBB', 'korean': 88, 'math': 65, 'english': 79, 'science': 78},
 {'name': 'CCC', 'korean': 78, 'math': 78, 'english': 74, 'science': 86},
 {'name': 'DDD', 'korean': 89, 'math': 88, 'english': 98, 'science': 98},
 {'name': 'EEE', 'korean': 99, 'math': 95, 'english': 94, 'science': 94},
 {'name': 'FFF', 'korean': 78, 'math': 78, 'english': 89, 'science': 68},
 {'name': 'GGG', 'korean': 68, 'math': 84, 'english': 78, 'science': 54},
 {'name': 'HHH', 'korean': 91, 'math': 93, 'english': 88, 'science': 95}]

In [39]:
#학생 이름, 총점, 평균을 출력해보기
print("이름", "총점", "평균", sep="\t")
for student in students:
    score_sum = student["korean"] + student["math"] + student["english"] \
                + student["science"]
    score_avg = score_sum / 4
    print(student["name"], score_sum,score_avg, sep="\t")

이름	총점	평균
AAA	366	91.5
BBB	310	77.5
CCC	316	79.0
DDD	373	93.25
EEE	382	95.5
FFF	313	78.25
GGG	284	71.0
HHH	367	91.75

In [40]:
#위의 경우에 대해서 기능을 함수로 좀 세분화 하고자 한다

# 학생의 성적관련 정보를 생성하는 기능
def create_student(name, korean, math, english, science):
    return {"name":name, "korean":korean, "math":math, "english":english,"science" : science}

#학생마다 총점을 구하는 기능 : 입력은 studnet 1명 정보가 있을 때..
def student_get_sum(student):
    score_num = student["korean"] + student["math"] + student["english"] + student["science"]
    return score_num

#학생마다 평균을 구하는 기능 : 입력은 studnet 1명 정보가 있을 때..
def student_get_avg(student):
    score_avg = student_get_sum(student)/4
    return score_avg

#학생마다 정보를 추출하는 기능 : 입력은 studnet 1명 정보가 있을 때..
def student_to_string(student):
    temp =  "{}\t{}\t{}" .format(student["name"],student_get_sum(student),student_get_avg(student))
    return temp

In [43]:
students = [
    create_student("AAA",98,93,79,95),
    create_student("BBB",78,87,87,91),
    create_student("CCC",87,88,83,93),
    create_student("DDD",79,92,99,88),
    create_student("EEE",92,98,94,83),
    create_student("FFF",94,99,98,77),
    create_student("GGG",84,96,99,79),
    create_student("HHH",87,78,88,95)
]
print("이름","총점","평균", sep="\t")
for student in students:
    print(student_to_string(student))

이름	총점	평균
AAA	365	91.25
BBB	343	85.75
CCC	351	87.75
DDD	358	89.5
EEE	367	91.75
FFF	368	92.0
GGG	358	89.5
HHH	348	87.0

> 위와 같이 함수를 모든 기능을 쪼갠 것 들을 좀 더 효울적으로 하기 위해 만든 것이 바로 '클래스'                               
> 대상/객체를 좀 더 효울적으로 만들고, 필요한 기능에 대해서 보다 수월하게 하기 위해                                            
>class 클래스의 이름:                                                                                                        
   >   클래스에 대한 내용들

In [45]:
class Student: #파이썬에서 클래스의 이름 맨 앞글자를 대문자로
    #생성자 : 뭔가 틀을 만들 때, 그 틀의 속성들을 지정해준다.. self는 꼭 입력
    def __init__(self, name, korean, math, english, science):
        self.name = name
        self.korean = korean
        self.math = math
        self.english = english
        self.science=science

In [47]:
students = [
    Student("AAA",98,93,79,95),
    Student("BBB",78,87,87,91),
    Student("CCC",87,88,83,93),
    Student("DDD",79,92,99,88),
    Student("EEE",92,98,94,83),
    Student("FFF",94,99,98,77),
    Student("GGG",84,96,99,79),
    Student("HHH",87,78,88,95)
]
students

[<__main__.Student at 0x29c710ba8e0>,
 <__main__.Student at 0x29c710ba460>,
 <__main__.Student at 0x29c710ba820>,
 <__main__.Student at 0x29c710ba370>,
 <__main__.Student at 0x29c710ba0a0>,
 <__main__.Student at 0x29c710bac70>,
 <__main__.Student at 0x29c710ba070>,
 <__main__.Student at 0x29c710baaf0>]

In [48]:
students[0]

In [49]:
students[0].name

'AAA'

In [50]:
students[0].korean

98

In [51]:
students[7].name

'HHH'

In [136]:
class Student: # 파이썬에서 클래스의 이름 맨 앞글자를 대문자로
    # 생성자 : 뭔가 틀을 만들 때, 그 틀의 속성들을 지정을 해줍니다
    def __init__(self, name, korean, math, english, science):
        self.name = name
        self.korean = korean
        self.math = math
        self.english = english
        self.science=science
    ### 메서드 : 기능 #################
    def get_sum(self): # 객체가 가지고 있는 4과목 성정의 합을 알려주는 기능
        score_sum = self.korean + self.math + self.english + self.science
        return score_sum
    def get_avg(self):
        score_avg = self.get_sum() / 4
        return score_avg
    def to_string(self):
        temp = "{0}\t{1}\t{2}".format(self.name, self.get_sum(), self.get_avg())
        return temp
    ### 특별 메서드 : str( ) : 언더바 양쪽으로 두 개 ######
    def __str__(self):
        temp = "{0}\t{1}\t{2}".format(self.name, self.get_sum(),self.get_avg())
        return temp
    ###############################################

In [137]:
students = [
    Student("AAA",98,93,79,95),
    Student("BBB",78,87,87,91),
    Student("CCC",87,88,83,93),
    Student("DDD",79,92,99,88),
    Student("EEE",92,98,94,83),
    Student("FFF",94,99,98,77),
    Student("GGG",84,96,99,79),
    Student("HHH",87,78,88,95)
]
students

[<__main__.Student at 0x29c710d5310>,
 <__main__.Student at 0x29c710d5eb0>,
 <__main__.Student at 0x29c710d5d30>,
 <__main__.Student at 0x29c710d5400>,
 <__main__.Student at 0x29c710d5460>,
 <__main__.Student at 0x29c710d5220>,
 <__main__.Student at 0x29c710d5640>,
 <__main__.Student at 0x29c710dfb80>]

In [54]:
students[0]

In [133]:
students[0].name

'AAA'

In [56]:
students[0].english

79

In [57]:
students[0].get_sum()

365

In [58]:
students[0].get_avg()

91.25

In [59]:
students[0].to_string()

'AAA\t365\t91.25'

In [134]:
print ("이름","총점","평균", sep = "\t")
for std in students:
    print(std.to_string())

이름	총점	평균
AAA	365	91.25
BBB	343	85.75
CCC	351	87.75
DDD	358	89.5
EEE	367	91.75
FFF	368	92.0
GGG	358	89.5
HHH	348	87.0

In [138]:
print("이름","총점","평균",sep="\t")
for std in students:
    print(str(std)) # 파이썬의 기본함수 str에 대해서 내가 만든 Student가 동작하도록 정의

이름	총점	평균
AAA	365	91.25
BBB	343	85.75
CCC	351	87.75
DDD	358	89.5
EEE	367	91.75
FFF	368	92.0
GGG	358	89.5
HHH	348	87.0

#### 생성자와 소멸자

In [139]:
class Test:
    def __init__(self, name):
        self.name = name
        print("--Test 클래스 생성됨--")
    def __del__(self):
        print("--Test 클래스가 제거됨--")

In [140]:
a = Test("abcd")
a

--Test 클래스 생성됨--

In [141]:
a.name

'abcd'

In [72]:
class Student: # 파이썬에서 클래스의 이름 맨 앞글자를 대문자로
    # 생성자 : 뭔가 틀을 만들 때, 그 틀의 속성들을 지정을 해줍니다
    def __init__(self, name, korean, math, english, science):
        self.name = name
        self.korean = korean
        self.math = math
        self.english = english
        self.science=science
    ### 메서드 : 기능 #######################################################
    def get_sum(self): # 객체가 가지고 있는 4과목 성정의 합을 알려주는 기능
        score_sum = self.korean + self.math + self.english + self.science
        return score_sum
    def get_avg(self):
        score_avg = self.get_sum() / 4
        return score_avg
    def to_string(self):
        temp = "{0}\t{1}\t{2}".format(self.name, self.get_sum(), self.get_avg())
        return temp
    ############################################################################
    
    ### 특별 메서드 : str( ) : 언더바 양쪽으로 두 개 ###########################
    # dq : 비교 ==
    # ne : !=
    # gt : > 크기
    # ge : >=
    # lt : <
    # le : <=
    def __str__(self):
        temp = "{0}\t{1}\t{2}".format(self, name, self.get_sum(),self.get_avg())
        return temp
    # 특수 메서드에 대한 비교/부등식 -> 총점에 대한 비교로 사용하려고 설계
    def __eq__(self, value):
        return self.get_sum() == value.get_sum()
    def __ne__(self,value):
        return self.get_sum() != value.get_sum()
    def __gt__(self, value):
        return self.get_sum() > value.get_sum()
    def __ge__(self, value):
        return self.get_sum() >= value.get_sum()
    def __lt__(self, value):
        return self.get_sum() < value.get_sum()
    def __le__(self, value):
        return self.get_sum() <= value.get_sum()
    ##############################################################################

In [73]:
std1 = Student("XXX", 10,20,30,40) #sum 100
std2 = Student("YYY", 11,21,31,41) #sum 104

In [74]:
std1 == std2  #설계를 get_sum()으로 했기 때문에 합이 같다면 True로 나옴

False

In [76]:
std1 <= std2

True

In [77]:
std1 > 10 #클래스끼리 비교해야함

AttributeError: 'int' object has no attribute 'get_sum'

In [150]:
class Student: # 파이썬에서 클래스의 이름 맨 앞글자를 대문자로
    # 생성자 : 뭔가 틀을 만들 때, 그 틀의 속성들을 지정을 해줍니다
    def __init__(self, name, korean, math, english, science):
        self.name = name
        self.korean = korean
        self.math = math
        self.english = english
        self.science=science
    ### 메서드 : 기능 #######################################################
    def get_sum(self): # 객체가 가지고 있는 4과목 성정의 합을 알려주는 기능
        score_sum = self.korean + self.math + self.english + self.science
        return score_sum
    def get_avg(self):
        score_avg = self.get_sum() / 4
        return score_avg
    def to_string(self):
        temp = "{0}\t{1}\t{2}".format(self.name, self.get_sum(), self.get_avg())
        return temp
    ############################################################################
    
    ### 특별 메서드 : str( ) : 언더바 양쪽으로 두 개 ###########################
    # dq : 비교 ==
    # ne : !=
    # gt : > 크기
    # ge : >=
    # lt : <
    # le : <=
    def __str__(self):
        temp = "{0}\t{1}\t{2}".format(self, name, self.get_sum(),self.get_avg())
        return temp
    # 특수 메서드에 대한 비교/부등식 -> 총점에 대한 비교로 사용하려고 설계
    def __eq__(self, value):
        if not isinstance(value, Student) : #isinstance(객체, 클래스)
            raise TypeError("Student Class로 생성된 인스턴스끼리만 비교가능합니다")
        return self.get_sum() == value.get_sum()
    def __ne__(self,value):
        return self.get_sum() != value.get_sum()
    def __gt__(self, value):
        return self.get_sum() > value.get_sum()
    def __ge__(self, value):
        return self.get_sum() >= value.get_sum()
    def __lt__(self, value):
        return self.get_sum() < value.get_sum()
    def __le__(self, value):
        return self.get_sum() <= value.get_sum()
    ##############################################################################

In [151]:
std1 = Student("xx",10,20,30,40)
std2 = Student("yy",40,30,20,10)

In [152]:
std1 == std2

True

In [153]:
std1 == 100

TypeError: Student Class로 생성된 인스턴스끼리만 비교가능합니다

#### 클래스 공장 레벨에서의 변수와 함수에 대해서 
* 주의사항) 생성한 객체 단위가 아니라 찍어내는 공장단위이다
* 지금까지 내가 생성한 객체의 수를 확인용도로 내부에 바코드 같은 것을 심어두겠다

In [85]:
class Student: # 파이썬에서 클래스의 이름 맨 앞글자를 대문자로
    #### 지금까지 이 클래스로 몇 개가 생성이 되는지 기록
    count = 0
    
    # 생성자 : 뭔가 틀을 만들 때, 그 틀의 속성들을 지정을 해줍니다
    def __init__(self, name, korean, math, english, science):
        self.name = name
        self.korean = korean
        self.math = math
        self.english = english
        self.science=science
        #########################
        Student.count += 1
        print("{}번째 학생이 생성되었습니다".format(Student.count))
        ##########################
    ### 메서드 : 기능 
    def get_sum(self): # 객체가 가지고 있는 4과목 성정의 합을 알려주는 기능
        score_sum = self.korean + self.math + self.english + self.science
        return score_sum
    def get_avg(self):
        score_avg = self.get_sum() / 4
        return score_avg
    def to_string(self):
        temp = "{0}\t{1}\t{2}".format(self.name, self.get_sum(), self.get_avg())
        return temp

    
    ### 특별 메서드 : str( ) : 언더바 양쪽으로 두 개
    # dq : 비교 ==
    # ne : !=
    # gt : > 크기
    # ge : >=
    # lt : <
    # le : <=
    def __str__(self):
        temp = "{0}\t{1}\t{2}".format(self, name, self.get_sum(),self.get_avg())
        return temp
    # 특수 메서드에 대한 비교/부등식 -> 총점에 대한 비교로 사용하려고 설계
    def __eq__(self, value):
        if not isinstance(value, Student) :   #isinstance(객체, 클래스)
            raise TypeError("Student Class로 생성된 인스턴스끼리만 비교 가능합니다")
        return self.get_sum() == value.get_sum()
    def __ne__(self,value):
        return self.get_sum() != value.get_sum()
    def __gt__(self, value):
        return self.get_sum() > value.get_sum()
    def __ge__(self, value):
        return self.get_sum() >= value.get_sum()
    def __lt__(self, value):
        return self.get_sum() < value.get_sum()
    def __le__(self, value):
        return self.get_sum() <= value.get_sum()

In [86]:
students = [
    Student("AAA",98,93,79,95),
    Student("BBB",78,87,87,91),
    Student("CCC",87,88,83,93),
    Student("DDD",79,92,99,88),
    Student("EEE",92,98,94,83),
    Student("FFF",94,99,98,77),
    Student("GGG",84,96,99,79),
    Student("HHH",87,78,88,95)
]
students

1번째 학생이 생성되었습니다
2번째 학생이 생성되었습니다
3번째 학생이 생성되었습니다
4번째 학생이 생성되었습니다
5번째 학생이 생성되었습니다
6번째 학생이 생성되었습니다
7번째 학생이 생성되었습니다
8번째 학생이 생성되었습니다

[<__main__.Student at 0x29c710d5c70>,
 <__main__.Student at 0x29c710d5d00>,
 <__main__.Student at 0x29c710d5b20>,
 <__main__.Student at 0x29c710d52b0>,
 <__main__.Student at 0x29c710d5280>,
 <__main__.Student at 0x29c710d5670>,
 <__main__.Student at 0x29c710d5ca0>,
 <__main__.Student at 0x29c710ba970>]

In [87]:
Student.count

8

### 클래스가 가진 함수 : decorator

In [173]:
class Student: # 파이썬에서 클래스의 이름 맨 앞글자를 대문자로
    #### 지금까지 이 클래스로 몇 개가 생성이 되는지 기록
    count = 0
    students = [] # 상품 출하 로그 기록
    
    @classmethod # decorator라고 이야기를 한다 -> 클래스의 기능/함수 not 객체
    def cls_print(cls):
        print("----------- 학생 목록 -------------")
        print("이름\t총점\t평균")
        for std in cls.students:
            print(str(std))
        print("-----------------------------------")
    
    
    # 생성자 : 뭔가 틀을 만들 때, 그 틀의 속성들을 지정을 해줍니다
    def __init__(self, name, korean, math, english, science):
        self.name = name
        self.korean = korean
        self.math = math
        self.english = english
        self.science=science
        #########################
        Student.count += 1
        print("{}번째 학생이 생성되었습니다.".format(Student.count))
        Student.students.append(self)
    ### 메서드 : 기능 #######################################################
    def get_sum(self): # 객체가 가지고 있는 4과목 성정의 합을 알려주는 기능
        score_sum = self.korean + self.math + self.english + self.science
        return score_sum
    def get_avg(self):
        score_avg = self.get_sum() / 4
        return score_avg
    def to_string(self):
        temp = "{0}\t{1}\t{2}".format(self.name, self.get_sum(), self.get_avg())
        return temp
    ############################################################################
    
    ### 특별 메서드 : str( ) : 언더바 양쪽으로 두 개 ###########################
    # dq : 비교 ==
    # ne : !=
    # gt : > 크기
    # ge : >=
    # lt : <
    # le : <=
    def __str__(self):
        temp = "{0}\t{1}\t{2}".format(self.name, self.get_sum(), self.get_avg())
        return temp
    # 특수 메서드에 대한 비교/부등식 -> 총점에 대한 비교로 사용하려고 설계
    def __eq__(self, value):
        if not isinstance(value, Student) :   #isinstance(객체, 클래스)
            raise TypeError("Student Class로 생성된 인스턴스끼리만 비교 가능합니다")
        return self.get_sum() == value.get_sum()
    def __ne__(self,value):
        return self.get_sum() != value.get_sum()
    def __gt__(self, value):
        return self.get_sum() > value.get_sum()
    def __ge__(self, value):
        return self.get_sum() >= value.get_sum()
    def __lt__(self, value):
        return self.get_sum() < value.get_sum()
    def __le__(self, value):
        return self.get_sum() <= value.get_sum()
    ##############################################################################

In [174]:
students = [
    Student("AAA",98,93,79,95),
    Student("BBB",78,87,87,91),
    Student("CCC",87,88,83,93),
    Student("DDD",79,92,99,88),
    Student("EEE",92,98,94,83),
    Student("FFF",94,99,98,77),
    Student("GGG",84,96,99,79),
    Student("HHH",87,78,88,95)
]
students

1번째 학생이 생성되었습니다.
2번째 학생이 생성되었습니다.
3번째 학생이 생성되었습니다.
4번째 학생이 생성되었습니다.
5번째 학생이 생성되었습니다.
6번째 학생이 생성되었습니다.
7번째 학생이 생성되었습니다.
8번째 학생이 생성되었습니다.

[<__main__.Student at 0x29c710a3700>,
 <__main__.Student at 0x29c710a3d60>,
 <__main__.Student at 0x29c710ba760>,
 <__main__.Student at 0x29c710ba310>,
 <__main__.Student at 0x29c7112d670>,
 <__main__.Student at 0x29c70f91fd0>,
 <__main__.Student at 0x29c710dfcd0>,
 <__main__.Student at 0x29c710dffa0>]

In [167]:
Student.count

8

In [168]:
Student.students

[<__main__.Student at 0x29c710a3940>,
 <__main__.Student at 0x29c710a3250>,
 <__main__.Student at 0x29c710a3d00>,
 <__main__.Student at 0x29c710aca90>,
 <__main__.Student at 0x29c710ac250>,
 <__main__.Student at 0x29c710df9d0>,
 <__main__.Student at 0x29c710dfdf0>,
 <__main__.Student at 0x29c710df340>]

In [175]:
Student.cls_print()

----------- 학생 목록 -------------
이름	총점	평균
AAA	365	91.25
BBB	343	85.75
CCC	351	87.75
DDD	358	89.5
EEE	367	91.75
FFF	368	92.0
GGG	358	89.5
HHH	348	87.0
-----------------------------------

#### 그러면 객체의 속성값에 대해서 접근여부

In [90]:
import math

In [91]:
class Square:
    def __init__(self,size):
        #self.size = size
        self.__size = size  # 외부에서 이 속성값에 접근하지 못하게 설정
    def get_total_length(self):
        return self.__size * 4
    def get_area(self):
        return self.__size * self.__size

In [92]:
sql1 = Square(10) #Square라는 틀로 구체적인 값 10을 넣어서 sql1이라는 객체 생성

In [94]:
sql1.get_total_length()

40

In [95]:
sql1.get_area()

100

In [96]:
sql1.size

AttributeError: 'str' object has no attribute 'size'

- 그래서 외부에서 접근을 하지 못하는 속성에 대해서 변경을 하기 위한 통로를 만들어 주어야 함 : getter,setter

In [97]:
class Square:
    def __init__(self,size):
        #self.size = size
        self.__size = size  # 외부에서 이 속성값에 접근하지 못하게 설정
    def get_total_length(self):
        return self.__size * 4
    def get_area(self):
        return self.__size * self.__size 
    #########################################
    #함수 통해서 우회적으로 접근
    def get_size(self):
        return self.__size
    def set_size(self, value):
        self.__size = value
    ##########################################

In [100]:
sql1 = Square(10)
print(sql1.get_total_length())
print(sql1.get_area())

40
100

In [101]:
sql1.get_size()

10

In [103]:
sql1.set_size(100)

In [105]:
sql1.get_total_length()

400

> Square라는 클래스는 정사각형을 추상화를 해서 만든 클래스                                                            
> set_size 매서드를 통해서 크기를 변경을 하려 하는데 -10길이의 정사각형이 들어오면 에러 발생 하도록

In [106]:
class Square:
    def __init__(self,size):
        #self.size = size
        self.__size = size  # 외부에서 이 속성값에 접근하지 못하게 설정
    def get_total_length(self):
        return self.__size * 4
    def get_area(self):
        return self.__size * self.__size 
    #########################################
    #함수 통해서 우회적으로 접근
    def get_size(self):
        return self.__size
    def set_size(self, value):
        if value <= 0:
            raise TypeError("정사각형 길이는 양수여야 한다")
        self.__size = value
    ##########################################

In [107]:
sql1 = Square(10)
sql1.get_size()

10

In [108]:
sql1.set_size(100)
sql1.get_area()

10000

In [109]:
sql1.set_size(-10)
sql1.get_area()

TypeError: 정사각형 길이는 양수여야 한다

- 데코레이터를 활용해서 꾸며보자

In [111]:
class Square:
    def __init__(self,size):
        #self.size = size
        self.__size = size  # 외부에서 이 속성값에 접근하지 못하게 설정
    def get_total_length(self):
        return self.__size * 4
    def get_area(self):
        return self.__size * self.__size 
    #########################################
    @property  # getter
    def size(self):
        return self.__size
    
    @size.setter #속성 size의 값을 변경하는데 setter로 사용하겠다
    def size(self, value):
        if value <= 0:
            raise TypeError("정사각형 길이는 양수여야 합니다")
        self.__size = value
    
    ##########################################

In [112]:
sql1 = Square(10)
sql1.get_total_length()

40

In [113]:
sql1.size

10

In [114]:
sql1.size = 100

In [115]:
sql1.get_total_length()

400

In [116]:
sql1.size = -10

TypeError: 정사각형 길이는 양수여야 합니다

### 상속

* 상속 : 물려 받는 것에 대해서 이야기를 함

In [117]:
class Parent:
    def __init__(self):
        self.value = "Test"
        print("Parent Init~~")
    def test(self):
        print("Parent Test Method~~")

In [118]:
class Child(Parent): #Parent 클래스를 상속해서 사용한다
    def __init__(self):
        Parent.__init__(self)
        print("Child Init~~~")
    #Child에서는 기능도 test라는 매서드도 만들지 않았다
    #왜? Parent에 이미 되어 있어서

In [119]:
child_1 = Child()

Parent Init~~
Child Init~~~

In [120]:
child_1.test()

Parent Test Method~~

In [121]:
child_1.value

'Test'

### try - except

In [122]:
# ***분 -> **시간 **분 변환
minutes_to_convert = 432

hours_part = minutes_to_convert // 60
minutes_part = minutes_to_convert % 60
print("{0} 시간 {1}분 입니다".format(hours_part, minutes_part))

7 시간 12분 입니다

In [123]:
#입력이 고정이 되니 계속하려니 불편하네 -> input함수
minutes_to_convert = int(input("분을 입력하세요"))

hours_part = minutes_to_convert // 60
minutes_part = minutes_to_convert % 60
print("{0} 시간 {1}분 입니다".format(hours_part, minutes_part))

분을 입력하세요432
7 시간 12분 입니다

In [126]:
try:
    print("10만원을 몇 명이서 나눌 까요?")
    number = int(input("숫자를 입력하세요"))
    print("한 사람당 {}만원을 가지면 됩니다".format(10/number))
except (ValueError, ZeroDivisionError):
    print("숫자가 아닌 것을 입력했습니다 혹은 0으로는 나누지 못 합니다")

10만원을 몇 명이서 나눌 까요?
숫자를 입력하세요0
숫자가 아닌 것을 입력했습니다 혹은 0으로는 나누지 못 합니다

In [127]:
try:
    minutes_to_convert = int(input("분을 입력하세요"))
    hours_part = minutes_to_convert // 60
    minutes_part = minutes_to_convert % 60
    print("{0} 시간 {1}분 입니다".format(hours_part, minutes_part))
except:
    print("입력이 이상해")

분을 입력하세요45ㅓ
입력이 이상해

In [ ]:
# 여러번 반복
while True:
    try:
        minutes_to_convert = int(input("분을 입력하세요"))
        if minutes_to_convert >= 0:
            hours_part = minutes_to_convert // 60
            minutes_part = minutes_to_convert % 60
            print("{0} 시간 {1}분 입니다".format(hours_part, minutes_part))
        else: #음수의 시간 일 때
            print("입력한 시간이 음수입니다 다시 시도해주세요")
    except ValueError : # 맞는 타임 숫자로만 입력해주세요
        print("입력한 숫자가 아닌 부분이 있으니 다시 시도해주세요")