# 기본 연습 문제 리뷰

### 01. 
8과목의 점수를 입력을 받아서, 이들의 평균을 구하는 것을 구하세요. 아래와 같이 본인이 입력을 받으려는 과목의 이름을 출력을 하면서, 그 과목의 점수를 입력을 받으면서 진행을 하세요

In [51]:
score = []
score.append(int(input("국어점수를 입력하세요")))
score.append(int(input("수학점수를 입력하세요")))
score.append(int(input("과학점수를 입력하세요")))
score.append(int(input("사회점수를 입력하세요")))
score.append(int(input("영어점수를 입력하세요")))
score.append(int(input("음악점수를 입력하세요")))
print("평균 :",str(sum(score)/len(score)))

국어점수를 입력하세요10
수학점수를 입력하세요20
과학점수를 입력하세요30
사회점수를 입력하세요40
영어점수를 입력하세요50
음악점수를 입력하세요60
평균 : 35.0

### 02. 
아래와 같은 학생 성적에 대해서 a = {"A": 30, "B":50, "C":20,"D":30, "E":85, "F":85,"G":20}의 데이터에 대해서, 최고점의 점수와 최고점을 받은 학생이 몇 명인지 알려주세요

In [73]:
a = {"A": 30, "B":50, "C":20,"D":30, "E":85, "F":85,"G":20}
score_max = max(a.values())
student = 0
for score in a.values():
    if score == score_max:
        student += 1
print("최고점 :" ,score_max)
print("최고점 학생 수 :",student)

최고점 : 85
최고점 학생 수 : 2

### 03.
a = ["three", "six", "nine", "twelve"] 데이터를 기반으로 b = ["three_3", "six_6", "nine_9", "twelve_12"]로 만들어보세요~

In [30]:
a = ["three", "six", "nine", "twelve"]
b = []
for i in range(len(a)):
    b.append(a[i]+"_"+str((i+1)*3))
b

['three_3', 'six_6', 'nine_9', 'twelve_12']

### 04.
a = [ 100, 300, 150, 200, 500, 800, 300, 200, 100, 450 , 800, 100 ] 의 데이터가 주어졌을 때, 이들 중에서 100, 200, 800, 500, 450, 300 의 값을 제외한 나머지 값들에 대해서  / 100을 값을 아래와 같이 출력하세요~ 아래와 같은 2가지 방법으로 하세요<br>
방법1 : 리스트 컴프리핸션, not in 사용<br>
방법2 : 리스트 컴프리핸션, in 사용

In [32]:
a = [ 100, 300, 150, 200, 500, 800, 300, 200, 100, 450 , 800, 100 ]

In [33]:
#) not in 을 사용해서 하기
[i/100 for i in a if i not in [100, 200, 800, 500, 450, 300]]

[1.5]

In [36]:
# in을 사용해서 하기
[i/100 for i in a if i in [100, 200, 800, 500, 450, 300]]

TypeError: bad operand type for unary -: 'list'

### 05.
100까지의 소수를 모두 찾아보세요~

In [106]:
a = list(range(2,101))
for i in range(2,101):
        if a[i-2] > i & a[i-2] % i != 0:
                print(a[i-2])

### 06.
아래의 그림을 만들어 보세요

In [39]:
for i in range(5,0,-1):
  print(" "*(5-i)+"@"*(2*i-1))

@@@@@@@@@
 @@@@@@@
  @@@@@
   @@@
    @

### 07.
3개의 수를 입력을 받고, 그 중에서 가장 큰 숫자를 출력하세요

In [40]:
num = []
num.append(input("처음수 :"))
num.append(input("두번째수 :"))
num.append(input("마지막수 :"))
max(num)

처음수 :3
두번째수 :5
마지막수 :2

'5'

### 08.
아래와 같이 주가 가격의 정보가 있다. 가로줄은 1일에 대한 시가, 고가, 저가, 종가의 순으로 되어 있으며, 고가가 200보다 큰 경우를 출력하세요

In [2]:
data = [["open", "high", "low", "close"],
        [120, 150, 90, 100],
        [230, 220, 120, 200],
        [340, 340, 300, 200]]

In [14]:
stock_max = []
for i in range(1,len(data)):
    stock_max.append(data[i][1])
    
[i for i in stock_max if i > 200]

[220, 340]

### 09.
아래와 같이 주가 가격의 정보가 있다. 가로줄은 1일에 대한 시가, 고가, 저가, 종가의 순으로 되어 있으며, 그 날의 고가과 저가의 변동폭을 날짜별로 출력을 하세요

In [24]:
data = [["open", "high", "low", "close"],
        [120, 150, 90, 100],
        [230, 220, 120, 200],
        [340, 340, 300, 200]]

In [15]:
stock_gap = []


for i in range(1,len(data)):
    stock_gap.append(int(data[i][1])-int(data[i][2]))
    
stock_gap

[60, 100, 40]

### 10. 
아래와 같이 주가 가격의 정보가 있다. 가로 줄은 1일에 대한 시가, 고가, 저가, 종가의 순으로 되어 있으며, 그날 시가에 사서 고가에 매도를 하였을 때 날짜별로 수익금을 출력하세요

In [23]:
data = [["open", "high", "low", "close"],
        [120, 150, 90, 100],
        [230, 220, 120, 200],
        [340, 340, 300, 200]]

In [16]:
stock_get = []
stock_get = [(int(data[i][1])-int(data[i][0])) for i in range(1,len(data)) ]
print("1일 수익금 :",stock_get[0])
print("2일 수익금 :",stock_get[1])
print("3일 수익금 :",stock_get[2])

1일 수익금 : 30
2일 수익금 : -10
3일 수익금 : 0