 1.  사용자로부터 입력 받은 시간이 정각인지 판별하라
 예) 시간 입력: 13:00   정각입니다.

In [1]:
a = readline("시간 입력:")
result = strsplit(a, split=':')[[1]][2]
ifelse( result=='00', '정각입니다.', '정각아님')

시간 입력:13:00

[1] "정각입니다."

2. 정수를 인자로 받아 해당정수의 약수를 반환하는 함수를 만드시요.
 예) 10 이면 1,2,5,10 약수를 반환

In [2]:
yaksu <- function(num) 
{
    v = c()
    for(i in 1:num){
        if (num %% i == 0){
#             cat(i, " ")
            v = append( v , i)
        }
    }
    return(v)
}
result = yaksu(10)
result

[1]  1  2  5 10

 3.  1~10 까지의 벡터에서 마지막 데이터를 제외한 벡터를 구하시요.

In [3]:
t = 1:10 # 자체가 벡터라 괄호 필요 없음
t[seq(1,length(t)-1)]

[1] 1 2 3 4 5 6 7 8 9

4. n 개의 정수를 키보드로 입력받아(예 입력:2 10 5 20) 해당 숫자의 가장 큰값을 구하시요.

In [4]:
t  = readline("일단 입력:")
sResult = strsplit(t, split=' ')[[1]]
sResult = as.integer( sResult )
# print( sResult)
mx = sResult[1]
for(i in sResult[2:length(sResult)])
{
    if( mx<i)
        mx = i
}
print( mx )

일단 입력:11 45 85 6
[1] 85

5. 정수를 키보드로 입력받아 아래 와 같이 별을 출력하시요 ( 예 3입력 )
#     *
#    * *
#   * * *

   6. stock= c("SK하이닉스", "삼성전자", "LG전자")
 각 문자열의 길이를 아래처럼 출력하시요
 6
 4
 4

In [7]:
stock = c("SK하이닉스", "삼성전자", "LG전자")
cc = nchar(stock)
print(cc)
for( n in nchar(stock)){
    cat(n, fill = T)
}

[1] 6 4 4
6
4
4

 7. 사용자로부터 달러, 엔, 유로, 또는 위안 금액을 입력받은 후 이를 원으로 변환하는 프로그램을 작성하라. 
 각 통화별 환율은 다음과 같다. 사용자는 100 달러, 1000 엔, 13 유로, 100 위안과 같이 금액과 통화명 사이에 
 공백을 넣어 입력한다고 가정한다. (함수를 만드시요)

In [9]:
money_conv <- function(won) {
  s = strsplit(won, split=' ')[[1]]
  money = as.integer(s[1])
  unit = s[2]
  if(unit == "달러"){
    return(money*1167)
  }else if(unit == "엔"){
    return(money*1.096)
  }else if(unit == "유로"){
    return(money*1268)
  }else if(unit == "위안"){
    return(money*171)
  }
}
won = readline("입력: ")
money_conv(won)

입력: 20 달러

[1] 23340

In [10]:
v = c(aa=10,bb=20,cc=30)
print( v )
print('====')
cat( v['aa'])

aa bb cc
10 20 30
[1] "===="
10

In [11]:
v = c(달러=1167,엔=1.096,유로= 1268, 위안=171)

money_conv <- function(won) 
{
  s = strsplit(won, split=' ')[[1]]
  money = as.integer(s[1])
  unit = s[2]
  return( money*v[unit] )
}
won = readline("입력: ")
money_conv(won)

입력: 20 달러

 달러
23340

8. 휴대폰 번호 앞자리에 따라 통신사는 아래와 같이 구분된다. 사용자로부터 휴대전화 번호를 입력 받고, 통신사를 출력하는 프로그램을 작성하라.
 (함수를 만드시요)
 
번호	통신사
 011	SKT
 016	KT
 019	LGU
 010	알수없음
 >> 휴대전화 번호 입력: 011-345-1922
 당신은 SKT 사용자입니다.

In [ ]:
phone <- function(number) 
{
    s = strsplit(number, split='-')[[1]]
    front = s[1]
    if(front == "011"){
        return("당신은 SKT 사용자입니다.")
    }else if(front == "016"){
        return("당신은 KT 사용자입니다.")
    }else if(front == "019"){
         return("당신은 LGU사용자입니다")
    }else if(front == '010'){
         return("알수없음")
    }
}
number = readline("입력: ")
phone(number)

In [ ]:
phone <- function(number) 
{
    v = c( '011'='SKT', '016'='KT', '019'='LGU','010'='알수없음')
    s = strsplit(number, split='-')[[1]]
    front = s[1]
    return( paste("당신은 ",v[front],'사용자입니다', sep=' ') )
}
number = readline("입력: ")
phone(number)

 9. 우편번호는 5자리로 구성되는데, 앞의 세자리는 구를 나타낸다. 예를들어, 강북구의 경우 010, 011, 012 세 자리로 시작한다.
 -	0	1	2	3	4	5	6	7	8	9
 01	강북구	강북구	강북구	도봉구	도봉구	도봉구	노원구	노원구	노원구	노원구
 사용자로 부터 5자리 우편번호를 입력받고 구를 판별하라
 >> 우편번호: 01400
 도봉구

In [12]:
mail = readline("우편번호 입력:")
mail = substr(mail,3,3)
if(mail >= 0 & mail<=2 ){
  print("강북구")
}else if(mail >= 3 & mail<=5 ){
  print("도봉구")
}else{
  print("노원구")
}

우편번호 입력:01400
[1] "도봉구"

 10. 문자열 하나를 입력받아 인터넷 주소를 반환하는 make_url 함수를 정의하라.
 
 make_url("naver")
 www.naver.com

In [13]:
make_url <- function(a) 
{
  a = as.character(a)
  return( paste("www.",a,".com", sep='') )
}
make_url("naver")

[1] "www.naver.com"