# Pandas Series Review

## 01. pandas 패키지를 불러오세요

In [1]:
import pandas as pd

## 02. 다음과 같은 Series Data를 만드세요.

In [42]:
data = pd.Series([1000,2000,3000,2500,1400,300,500], index = ["2022-01-01","2022-01-02","2022-01-03","2022-01-04","2022-01-06","2022-01-07","2022-01-09"])
data

2022-01-01    1000
2022-01-02    2000
2022-01-03    3000
2022-01-04    2500
2022-01-06    1400
2022-01-07     300
2022-01-09     500
dtype: int64

## 03. 02번에서 만든 데이터에서 3~5번째 데이터를 접근하세요 : 간략방법 & FM방법 모두 사용(정수 인덱스 기반)

In [10]:
data[3:6]

2022-01-04    2500
2022-01-06    1400
2022-01-07     300
dtype: int64

In [11]:
data.iloc[3:6]

2022-01-04    2500
2022-01-06    1400
2022-01-07     300
dtype: int64

## 04. 02번에서 만든 데이터에서 2022년 1월 1일 데이터부터~ 2022년 1월 6일 데이터까지 연속된 날짜의 값들을 모두 접근하세요: 간략방법 & FM방법 모두(내가 만든 날짜 인덱스 기반)

In [12]:
data["2022-01-01":"2022-01-06"]

2022-01-01    1000
2022-01-02    2000
2022-01-03    3000
2022-01-04    2500
2022-01-06    1400
dtype: int64

In [13]:
data.loc["2022-01-01":"2022-01-06"]

2022-01-01    1000
2022-01-02    2000
2022-01-03    3000
2022-01-04    2500
2022-01-06    1400
dtype: int64

## 05. 1월 6일에 대한 1개의 데이터에 접근하세요 : FM방법으로 ->  정수 인덱스, 내가 만든 날짜 인덱스 모두

In [14]:
data.iat[4]

1400

In [15]:
data.at["2022-01-06"]

1400

## 06. "2022-02-07"에 대한 인덱스가 주어진 데이터게 있는지 확인해보세요~

In [19]:
data.index == "2022-02-07"

array([False, False, False, False, False, False, False])

## 07. "2022-02-07"의 날짜 인덱스에 대해서, 아래와 같이 새로운 데이터를 만들어서 추가하세요~

In [21]:
data["2022-02-07"] = 123456
data

2022-01-01      1000
2022-01-02      2000
2022-01-03      3000
2022-01-04      2500
2022-01-06      1400
2022-01-07       300
2022-01-09       500
2022-02-07    123456
dtype: object

## 08. 기존의 데이터에서 stock_price_Series, 주식 가격이 1000원 이하인 값들이 언제였고, 몇 일이었는지 찾아보세요~

In [49]:
stock_price_DF = pd.DataFrame(
                 data = [1000, 1030,990, 1050, 1100],
                 index = ["2022-01-01","2022-01-02","2022-01-03","2022-01-04","2022-01-5"])
for i in range(stock_price_DF.shape[0]):
    if stock_price_DF.iat[i,0] <= 1000:
        print(stock_price_DF.index[i])

2022-01-01
2022-01-03

In [50]:
cnt = 0
for i in range(stock_price_DF.shape[0]):
    if stock_price_DF.iat[i,0] <= 1000:
        cnt  += 1
cnt

2

## 09. 주어진 데이터에서 가장 높은 주식가격이 얼마이고, 그 날짜를 구하세요~

In [30]:
data.max()

3000

In [55]:
stock_max = []
for i in range(len(data)):
    if data[i] == data.max():
        temp = str(data.index[i]) + "  " + str(data[i])
        stock_max.append(temp)
stock_max

['2022-01-03  3000']

## 10. 주어진 데이터에서 가장 낮은 주식가격은 얼마이고, 그 날짜가 언제인지 구하세요~

In [31]:
data.min()

300

In [56]:
stock_min = []
for i in range(len(data)):
    if data[i] == data.min():
        temp = str(data.index[i]) + "  " + str(data[i])
        stock_min.append(temp)
stock_min

['2022-01-07  300']