# 05 cond

In [1]:
x = 3
if( x > 0 ){
  print("크다")
}else if( x == 0 ){
  print("작다")
}else{
  print("아니다")
}

[1] "크다"

In [2]:
x = -1
if( x > 0 ){
  print("크다")
}else if( x == 0 ){
  print("작다")
}else{
  print("아니다")

ERROR: Error in parse(text = x, srcfile = src): <text>:8:0: 예상하지 못한 입력의 끝(end of input)입니다.
6: }else{
7:   print("아니다")
  ^

In [3]:
x = "1"
result = switch(x, "1" ="1이다", "2" ="2이다","나머지")
print(result)

[1] "1이다"

In [4]:
x = "5"
result = switch(x, "1" ="1이다", "2" ="2이다","나머지")
print(result)

[1] "나머지"

In [5]:
x = "2"
result = switch(x, "1" ="1이다", "2" ="2이다","나머지")
print(result)

[1] "2이다"

# 06 loop

In [ ]:
# python : for n in 복합데이터

In [6]:
v = c(11,22,33,44,55)
for( n in v)
{
  #print(n)
  cat(n)
}

1122334455

In [7]:
v = c(11,22,33,44,55)
for( n in v)
{
  #print(n)
  cat(n, fill=T)
}

11
22
33
44
55

In [8]:
for( n in 1:10)
{
  cat(n, fill=T)
}

1
2
3
4
5
6
7
8
9
10

In [9]:
for( n in 1:10)
{
  print(n)
  if(n==5)
    break
}

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5

In [10]:
for( n in 1:10 )
{
  if(n==5)
    next
  print(n)
}

[1] 1
[1] 2
[1] 3
[1] 4
[1] 6
[1] 7
[1] 8
[1] 9
[1] 10

In [11]:
## 1~10 까지 정수중 3 또는 4의 배수를 제외하고 출력하시오.

for( n in 1:10 )
{
  if(n %% 3 == 0)
    next
  else if(n %% 4 == 0)
    next
  print(n)
  
}

[1] 1
[1] 2
[1] 5
[1] 7
[1] 10

In [12]:
# 다른 방식 
for(n in 1:10)
{
  if(n%%3==0 | n%%4==0)
    next
  print(n)
}

[1] 1
[1] 2
[1] 5
[1] 7
[1] 10

In [14]:
a = 1
# a = a + 1 ok
# print(a+=1) R에서 안됨
# print(a+=+) R에서 안됨
while(a <= 5)
{
  print(a)
  a = a + 1
}

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5

In [15]:
b = 1
repeat{
  print(b)
  if(b==6)
    break
  b=b+1
}

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5
[1] 6

In [16]:
b = 1
while(TRUE)
{
  print(b)
  if(b==6)
    break
  b=b+1
}

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5
[1] 6

In [17]:
v = 1:10
f = print(v[v%%3==0])
print(f)

[1] 3 6 9
[1] 3 6 9

In [18]:
# python comprehension
# v = range(1,11)
# [ n for n in v if v%3==0]

# for(n in {x = 1:10; x[x%%3]})
# {
#   print(n)
# }

for(i in { x = 1:10; x[x%%3 != 0] } ) 
  print(i)

[1] 1
[1] 2
[1] 4
[1] 5
[1] 7
[1] 8
[1] 10

In [19]:
# 중첩반복문

for(i in 1:3)
{
  for(j in 1:3)
  {
    cat(i,j, fill = T)
    }
    
}

1 1
1 2
1 3
2 1
2 2
2 3
3 1
3 2
3 3

In [20]:
for(i in 1:9)
{
  for(j in 1:9)
  {
   a = i * j
   cat(i,"x",j,"=", a, fill=T)
  }
}

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [21]:
# 다른 방식
for(i in 1:9)
{
  for(j in 1:9)
  {
    cat(i,"x",j,"=",i*j,fill=T)
  }
}

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [22]:
# 1X1 = 1	2X1= 2	3X1= 3
# 1X2 = 1	2X2= 4	3X2= 6
# ...
# 1X9 = 9	2X9=18	3X9=27
# 
# 4X1 = 4	5X1= 5	6X1= 6
# 4X2 = 8	5X2=10	6X2=12
# ...
# 4X9 =36	5X9=45	6X9=54
# 
# 7X1 = 7	8X1= 8	9X1= 9
# 7X2 =14	8X2=16	9X2=18
# ...
# 7X9 =63	8X9=72	9X9=81
for(i in 1:3){
  for(j in 1:9){
    cat((3*i-2),"x",j,"=",(3*i-2)*j,(3*i-1),"x",j,"=",(3*i-1)*j,(3*i),"x",j,"=",(3*i)*j, fill=T)
  }
}

1 x 1 = 1 2 x 1 = 2 3 x 1 = 3
1 x 2 = 2 2 x 2 = 4 3 x 2 = 6
1 x 3 = 3 2 x 3 = 6 3 x 3 = 9
1 x 4 = 4 2 x 4 = 8 3 x 4 = 12
1 x 5 = 5 2 x 5 = 10 3 x 5 = 15
1 x 6 = 6 2 x 6 = 12 3 x 6 = 18
1 x 7 = 7 2 x 7 = 14 3 x 7 = 21
1 x 8 = 8 2 x 8 = 16 3 x 8 = 24
1 x 9 = 9 2 x 9 = 18 3 x 9 = 27
4 x 1 = 4 5 x 1 = 5 6 x 1 = 6
4 x 2 = 8 5 x 2 = 10 6 x 2 = 12
4 x 3 = 12 5 x 3 = 15 6 x 3 = 18
4 x 4 = 16 5 x 4 = 20 6 x 4 = 24
4 x 5 = 20 5 x 5 = 25 6 x 5 = 30
4 x 6 = 24 5 x 6 = 30 6 x 6 = 36
4 x 7 = 28 5 x 7 = 35 6 x 7 = 42
4 x 8 = 32 5 x 8 = 40 6 x 8 = 48
4 x 9 = 36 5 x 9 = 45 6 x 9 = 54
7 x 1 = 7 8 x 1 = 8 9 x 1 = 9
7 x 2 = 14 8 x 2 = 16 9 x 2 = 18
7 x 3 = 21 8 x 3 = 24 9 x 3 = 27
7 x 4 = 28 8 x 4 = 32 9 x 4 = 36
7 x 5 = 35 8 x 5 = 40 9 x 5 = 45
7 x 6 = 42 8 x 6 = 48 9 x 6 = 54
7 x 7 = 49 8 x 7 = 56 9 x 7 = 63
7 x 8 = 56 8 x 8 = 64 9 x 8 = 72
7 x 9 = 63 8 x 9 = 72 9 x 9 = 81

In [24]:
# 다른 방식
for( i in c(1,4,7))
{
  for( j in 1:9){8
    cat(i,'X',j,'=',i*j, i+1,'X',j,'=',(i+1)*j , (i+2),'X',j,'=',(i+2)*j , fill=T) 
    
  }
  cat(fill=T)  
}

1 X 1 = 1 2 X 1 = 2 3 X 1 = 3
1 X 2 = 2 2 X 2 = 4 3 X 2 = 6
1 X 3 = 3 2 X 3 = 6 3 X 3 = 9
1 X 4 = 4 2 X 4 = 8 3 X 4 = 12
1 X 5 = 5 2 X 5 = 10 3 X 5 = 15
1 X 6 = 6 2 X 6 = 12 3 X 6 = 18
1 X 7 = 7 2 X 7 = 14 3 X 7 = 21
1 X 8 = 8 2 X 8 = 16 3 X 8 = 24
1 X 9 = 9 2 X 9 = 18 3 X 9 = 27

4 X 1 = 4 5 X 1 = 5 6 X 1 = 6
4 X 2 = 8 5 X 2 = 10 6 X 2 = 12
4 X 3 = 12 5 X 3 = 15 6 X 3 = 18
4 X 4 = 16 5 X 4 = 20 6 X 4 = 24
4 X 5 = 20 5 X 5 = 25 6 X 5 = 30
4 X 6 = 24 5 X 6 = 30 6 X 6 = 36
4 X 7 = 28 5 X 7 = 35 6 X 7 = 42
4 X 8 = 32 5 X 8 = 40 6 X 8 = 48
4 X 9 = 36 5 X 9 = 45 6 X 9 = 54

7 X 1 = 7 8 X 1 = 8 9 X 1 = 9
7 X 2 = 14 8 X 2 = 16 9 X 2 = 18
7 X 3 = 21 8 X 3 = 24 9 X 3 = 27
7 X 4 = 28 8 X 4 = 32 9 X 4 = 36
7 X 5 = 35 8 X 5 = 40 9 X 5 = 45
7 X 6 = 42 8 X 6 = 48 9 X 6 = 54
7 X 7 = 49 8 X 7 = 56 9 X 7 = 63
7 X 8 = 56 8 X 8 = 64 9 X 8 = 72
7 X 9 = 63 8 X 9 = 72 9 X 9 = 81

In [25]:
# 다른 방식
for( i in c(1,4,7))
{
  for( j in 1:9)
  {
    s =sprintf('%dx%d = %2d %dx%d=%2d %dx%d=%2d',i,j,i*j,i+1,j,(i+1)*j,i+2,j,(i+2)*j )
    cat(s, fill=T)
    # cat(i,'X',j,'=',i*j, i+1,'X',j,'=',(i+1)*j , (i+2),'X',j,'=',(i+2)*j , fill=T)
  }
  cat(fill=T)
}

1x1 =  1 2x1= 2 3x1= 3
1x2 =  2 2x2= 4 3x2= 6
1x3 =  3 2x3= 6 3x3= 9
1x4 =  4 2x4= 8 3x4=12
1x5 =  5 2x5=10 3x5=15
1x6 =  6 2x6=12 3x6=18
1x7 =  7 2x7=14 3x7=21
1x8 =  8 2x8=16 3x8=24
1x9 =  9 2x9=18 3x9=27

4x1 =  4 5x1= 5 6x1= 6
4x2 =  8 5x2=10 6x2=12
4x3 = 12 5x3=15 6x3=18
4x4 = 16 5x4=20 6x4=24
4x5 = 20 5x5=25 6x5=30
4x6 = 24 5x6=30 6x6=36
4x7 = 28 5x7=35 6x7=42
4x8 = 32 5x8=40 6x8=48
4x9 = 36 5x9=45 6x9=54

7x1 =  7 8x1= 8 9x1= 9
7x2 = 14 8x2=16 9x2=18
7x3 = 21 8x3=24 9x3=27
7x4 = 28 8x4=32 9x4=36
7x5 = 35 8x5=40 9x5=45
7x6 = 42 8x6=48 9x6=54
7x7 = 49 8x7=56 9x7=63
7x8 = 56 8x8=64 9x8=72
7x9 = 63 8x9=72 9x9=81

# 07 function

In [26]:
fn <- function() {
  print("hello")
  print("korea")
}

In [35]:
fn()

[1] "hello"
[1] "korea"

In [28]:
hap <- function(a,b) {
  return(a+b)
}

In [36]:
rst = hap(10,20)
print(rst)

[1] 30

In [29]:
gop <- function(a,b) {
  return(a*b)
}

In [37]:
rst = gop(10,20)
print(rst)

[1] 200

In [30]:
fn1 <- function(a=10,b=20) {
  cat(a,b, fill=T)
}

In [38]:
fn1()

10 20

In [39]:
fn1(100)

100 20

In [40]:
fn1(100,200)

100 200

In [41]:
fn1(b=1000)

10 1000

In [42]:
 fn2 <- function(a,b) {
   return( c(a+b, a*b) )
 }

In [43]:
result = fn2(10,20)
print(result)
cat(result[1], result[2])

[1]  30 200
30 200

In [44]:
# ... 은 가변인자 def fn3(*args) 와 같다
fn3 <- function(...) {
   args = c(...)
   print(args)
 }

In [45]:
fn3(10,20)
fn3(10,20,30,40)

[1] 10 20
[1] 10 20 30 40

In [46]:
#  안됨
 fn3 <- function(..., a) {
   args = c(...)
   print(args)
   print(a)
 }
 
fn3(10,20)
fn3(10,20,30,40)

[1] 10 20

ERROR: Error in print(a): 기본값이 없는 인수 "a"가 누락되어 있습니다

In [47]:
fn3 <- function(..., a=100) {
  args = c(...)
   print(args)
   print(a)
 }
 
fn3(10,20)
print("============")
fn3(10,20,30,40)
print("============")
fn3(1,2,3,4, a=5)

[1] 10 20
[1] 100
[1] "============"
[1] 10 20 30 40
[1] 100
[1] "============"
[1] 1 2 3 4
[1] 5

In [49]:
# cm를 인자(아규먼트)로 받아 인치를 반환하는 함수를 만드시오
# 0.393701in
infun <- function(a) {
  return(a*0.393701) 
}
print(infun(3))

[1] 1.181103

In [50]:
# 반지름과 높이를 인자로 받아 원의 면적과 원기둥의 부피를 반환하는 함수를 만드시오
circle <- function(a,b) {
  return(c(pi*a^2, pi*a^2*b))
}

print(circle(1,3))

[1] 3.141593 9.424778

In [51]:
cmToinch <- function( cm) {
  return(cm/2.54)
}

shape <- function(r,h) {
  return( c(pi*r^2, pi*r^2*h))
}
print( cmToinch(3) )
print( shape(1, 3) )

[1] 1.181102
[1] 3.141593 9.424778

In [54]:
# 두개의 정수를 인자로 받아 절대값의 합을 반환하는 함수를 만드시오
aBs <- function(a,b) {
  return(abs(a)+abs(b))
}
print(aBs(3,-5))

[1] 8

In [55]:
# 3개의 정수를 인자로 받아 가장 큰값을 반환하는함수를 만드시오
mAx <- function(c,d,e) {
  return(max(c,d,e))
}
print(mAx(4,9,3))

[1] 9

In [56]:
absHAP <- function(a, b) {
  a <- ifelse(a<0, -a, a)
  b <- ifelse(b<0, -b, b)
  return(a+b)
}

In [57]:
maxValue <- function(a, b, c) {
  mx <- ifelse(a<b, b, a)
  mx <- ifelse(mx<c, c, b)
  return(mx)
}

# 08 string

In [58]:
a = 10
b = 3.14
c = "abc"

# python f'a={a} b={b} c={c}' ==> a=10 b=3.14 c=abc
# a=%d b=%f c=%s %(a,b,c)

result = sprintf('a=%d b=%.2f c=%s', a,b,c)
print(result)

[1] "a=10 b=3.14 c=abc"

In [59]:
result = sprintf('a=%10d b=%.2f c=%s', a,b,c)
print(result)

[1] "a=        10 b=3.14 c=abc"

In [60]:
print(nchar(c)) # 문자열의 개수

[1] 3

In [61]:
s = "abcdefg"
print(nchar(s)) # 문자열의 개수

[1] 7

In [ ]:
?substr

In [62]:
print(substr(s, 2,4))
print(substring(s, 2))

[1] "bcd"
[1] "bcdefg"

In [63]:
cc = c("abcd", "eghi","jklm")
print( nchar(cc))
print( substr(cc, 1,2))

[1] 4 4 4
[1] "ab" "eg" "jk"

In [ ]:
?strsplit

In [64]:
s1 = "abc def ghi"
v = strsplit(s1, split=" ") # 결과는 list
print(v)
print(v[[1]][1])

[[1]]
[1] "abc" "def" "ghi"

[1] "abc"

In [65]:
myl = strsplit(s1, split=' ') #결과는 list
v = myl[[1]]
cat( v[1],v[2],v[3], fill=T)

abc def ghi

In [66]:
# python 'abc' + 'def'
print(paste( "abc", "def"))
print(paste( "abc", "def", sep = ""))

[1] "abc def"
[1] "abcdef"

# 09 벡터

<img src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=http%3A%2F%2Fcfile30.uf.tistory.com%2Fimage%2F9930233F5A5C3844146549">

In [67]:
# R은 이게 된다
a = 10
b = 20
a
b

[1] 10

[1] 20

## 벡터를 생성하는 방법엔 3가지가 
- c()를 이용해 값들을 벡터로 결합해주는 방법,
기본적으로 R에서 여러개의 요소를 묶어줄 때 사용.
- rep() 반복 함수를 통해 생성,
- seq(), ':' 와 같이 범위를 지정하는 함수를 통해 생성하는 방법

In [69]:
t = c(10,20,30,40)
t
print(t)
cat(t)

[1] 10 20 30 40

[1] 10 20 30 40
10 20 30 40

In [ ]:
?rep

In [70]:
y = rep(1, 5)
y

[1] 1 1 1 1 1

In [ ]:
?seq

In [71]:
sq = seq(1,5) # 1:5
sq

[1] 1 2 3 4 5

In [72]:
sq1 = seq(1,5,2) # 1:5:2(X)
sq1

[1] 1 3 5

In [73]:
sq2 = seq(10,1,-1) # 1:5:2(X)
sq2

 [1] 10  9  8  7  6  5  4  3  2  1

## 인덱싱
- 1,2,3,4,...

In [75]:
t = c(10,20,30,40,50,60,70)
t[1]

[1] 10

In [76]:
t[-1]

[1] 20 30 40 50 60 70

In [77]:
t[-2]

[1] 10 30 40 50 60 70

## 복수개 인덱싱

In [78]:
## python : t[[2,3]]
t[c(2,3)]

[1] 20 30

In [79]:
t[c(-2, -3)]

[1] 10 40 50 60 70

In [80]:
# t[c(1,2,3)]
t[1:3]
t[seq(1,3)]

[1] 10 20 30

[1] 10 20 30

In [81]:
## 문제 : 홀수인덱스 데이터선택
t[seq(1,length(t),2)]

[1] 10 30 50 70

In [82]:
t[3:length(t)] # R은 끝까지라는걸 해줘야댐

[1] 30 40 50 60 70

In [83]:
## 문제 : 역순 벡터
t[seq(length(t),1,-1)]

[1] 70 60 50 40 30 20 10

## 불리언 인덱싱

In [84]:
## python : t[[True,False,...,False]] 개수가 꼭 맞춰져야한다. 벡터가아니라 시리즈
t
t[ c(T,F,F,T,T,F,T)]
t[c(T,F,F)] # 반복이 된다

[1] 10 20 30 40 50 60 70

[1] 10 40 50 70

[1] 10 40 70

## 벡터의 연산(산술,관계,논리)
- element wise(요소별 : 동일한 인덱스끼리)
- broad casting(자동확장)

In [85]:
a = c(1,2,3)
b = c(10,20,30)
a+b

[1] 11 22 33

In [86]:
t
t + 2 # c(2,2,2,2,2)
t + c(2,3) # c(2,3,2,3,2,3,2)

[1] 10 20 30 40 50 60 70

[1] 12 22 32 42 52 62 72

Warning message in t + c(2, 3):
"두 객체의 길이가 서로 배수관계에 있지 않습니다"

[1] 12 23 32 43 52 63 72

In [87]:
# 각 연봉 세금 3.3%를 제한 실수령액을 구하시요
salary <- c(1000,2000,3000,4000)
salary * 0.967

[1]  967 1934 2901 3868

## 관계연산자

In [89]:
t
t>30
t[ t>30 ]

[1] 10 20 30 40 50 60 70

[1] FALSE FALSE FALSE  TRUE  TRUE  TRUE  TRUE

[1] 40 50 60 70

In [90]:
t
t == 30 | t == 50
t >= 20 & t <= 50

[1] 10 20 30 40 50 60 70

[1] FALSE FALSE  TRUE FALSE  TRUE FALSE FALSE

[1] FALSE  TRUE  TRUE  TRUE  TRUE FALSE FALSE

In [91]:
t
t[t == 30 | t == 50]
t[t >= 20 & t <= 50]

[1] 10 20 30 40 50 60 70

[1] 30 50

[1] 20 30 40 50

## 수정

In [92]:
t
t[1] = 100
t

[1] 10 20 30 40 50 60 70

[1] 100  20  30  40  50  60  70

In [93]:
t[2:4] = 200
t

[1] 100 200 200 200  50  60  70

In [94]:
t = c(10,20,30,40,50,60,70)
t

[1] 10 20 30 40 50 60 70

In [95]:
t[2:4] + 2
t

[1] 22 32 42

[1] 10 20 30 40 50 60 70

In [96]:
t[2:4] = c(11,22,33)
t

[1] 10 11 22 33 50 60 70

In [97]:
t[3:6] = t[3:6] + 2
t

[1] 10 11 24 35 52 62 70

In [98]:
t = c(10,20,30,40,50,60,70)
# 퀴즈 30이상인데이터에 기존의 값에 3을 더한 것으로 수정하셈
t[3:7] = t[3:7] + 3
t

[1] 10 20 33 43 53 63 73

In [99]:
t = c(10,20,30,40,50,60,70)
t[t>=30] = t[t>=30]+3
t

[1] 10 20 33 43 53 63 73

## 추가

In [100]:
t = c(10,20,30,40,50,60,70)

In [101]:
c( c(11,22), t)

[1] 11 22 10 20 30 40 50 60 70

In [ ]:
# t = c( c(11,22), t) # 적용

In [102]:
c( t, c(11,22))

[1] 10 20 30 40 50 60 70 11 22

In [ ]:
?append

In [103]:
append(t, c(1,2,3))

 [1] 10 20 30 40 50 60 70  1  2  3

In [104]:
append(t, c(1,2,3),2)

 [1] 10 20  1  2  3 30 40 50 60 70

In [105]:
u = c()
u = append(u,10)
u = append(u,20)
u

[1] 10 20

In [106]:
install.packages("magrittr")

  There is a binary version available but the source version is later:
         binary source needs_compilation
magrittr  2.0.1  2.0.3              TRUE

  Binaries will be installed
package 'magrittr' successfully unpacked and MD5 sums checked

Warning message:
"cannot remove prior installation of package 'magrittr'"Warning message in file.copy(savedcopy, lib, recursive = TRUE):
"C:\Users\MEDICI\Anaconda3\Lib\R\library\00LOCK\magrittr\libs\x64\magrittr.dll를 C:\Users\MEDICI\Anaconda3\Lib\R\library\magrittr\libs\x64\magrittr.dll로 복사하는데 문제가 발생했습니다: Permission denied"Warning message:
"restored 'magrittr'"

The downloaded binary packages are in
	C:\Users\MEDICI\AppData\Local\Temp\RtmpQ90sZG\downloaded_packages

In [107]:
library( magrittr)

Warning message:
"package 'magrittr' was built under R version 3.6.3"

In [108]:
append(t, c(11,22,33))
t %>% append(c(11,22,33))
t %>% append(c(11,22,33)) %>% append(c(11,22,33))

 [1] 10 20 30 40 50 60 70 11 22 33

 [1] 10 20 30 40 50 60 70 11 22 33

 [1] 10 20 30 40 50 60 70 11 22 33 11 22 33

In [109]:
s = "abcdefg"
nchar(s)
s %>% nchar

[1] 7

[1] 7

In [110]:
s1 = "abc def ghi"
strsplit(s1, split=" ")
s1 %>% strsplit(split=" ")

[[1]]
[1] "abc" "def" "ghi"

[[1]]
[1] "abc" "def" "ghi"

## 삭제

In [111]:
t = c(10,20,30,40,50,60,70)

In [112]:
t[-1]

[1] 20 30 40 50 60 70

In [113]:
t[c(-1,-3)]

[1] 20 40 50 60 70

In [ ]:
?which

In [114]:
which(t>=30)

[1] 3 4 5 6 7

In [115]:
-1 * c(1,2,3)

[1] -1 -2 -3

In [116]:
t[which(t>=30)]

[1] 30 40 50 60 70

In [117]:
t[ -which(t>=30)]

[1] 10 20

In [118]:
# 30 or 60 데이터를 삭제해
t[-which(t%%30==0)]

[1] 10 20 40 50 70

In [119]:
t[-(which(t==30|t==60))]

[1] 10 20 40 50 70

In [ ]:
?setdiff # 삭제할 값

In [120]:
setdiff(t, c(40,60))

[1] 10 20 30 50 70

## 과제2

In [121]:
# 1.  사용자로부터 입력 받은 시간이 정각인지 판별하라
#  예) 시간 입력: 13:00   정각입니다.
a = readline("시간 입력:")
result = strsplit(a, split=':')[[1]][2]
ifelse( result=='00', '정각입니다.', '정각아님')

시간 입력:13:00

[1] "정각입니다."

In [122]:
# 2. 정수를 인자로 받아 해당정수의 약수를 반환하는 함수를 만드시요.
#  예) 10 이면 1,2,5,10 약수를 반환
yaksu <- function(num) 
{
    v = c()
    for(i in 1:num){
        if (num %% i == 0){
#             cat(i, " ")
            v = append( v , i)
        }
    }
    return(v)
}
result = yaksu(10)
result

[1]  1  2  5 10

In [123]:
#  3.  1~10 까지의 벡터에서 마지막 데이터를 제외한 벡터를 구하시요.
t = 1:10 # 자체가 벡터라 괄호 필요 없음
t[seq(1,length(t)-1)]

[1] 1 2 3 4 5 6 7 8 9

In [124]:
# 4. n 개의 정수를 키보드로 입력받아(예 입력:2 10 5 20) 해당 숫자의 가장 큰값을 구하시요. 
t  = readline("일단 입력:")
sResult = strsplit(t, split=' ')[[1]]
sResult = as.integer( sResult )
# print( sResult)
mx = sResult[1]
for(i in sResult[2:length(sResult)])
{
    if( mx<i)
        mx = i
}
print( mx )

일단 입력:11 45 85 6
[1] 85

In [ ]:
# 5. 정수를 키보드로 입력받아 아래 와 같이 별을 출력하시요 ( 예 3입력 )
#     *
#    * *
#   * * *

In [125]:
# 6. stock= c("SK하이닉스", "삼성전자", "LG전자") 각 문자열의 길이를 아래처럼 출력하시요
# 6 4 4
stock = c("SK하이닉스", "삼성전자", "LG전자")
cc = nchar(stock)
print(cc)
for( n in nchar(stock)){
    cat(n, fill = T)
}

[1] 6 4 4
6
4
4

In [127]:
#  7. 사용자로부터 달러, 엔, 유로, 또는 위안 금액을 입력받은 후 이를 원으로 변환하는 프로그램을 작성하라. 
#  각 통화별 환율은 다음과 같다. 사용자는 100 달러, 1000 엔, 13 유로, 100 위안과 같이 금액과 통화명 사이에 
#  공백을 넣어 입력한다고 가정한다. (함수를 만드시요)
money_conv <- function(won) {
  s = strsplit(won, split=' ')[[1]]
  money = as.integer(s[1])
  unit = s[2]
  if(unit == "달러"){
    return(money*1167)
  }else if(unit == "엔"){
    return(money*1.096)
  }else if(unit == "유로"){
    return(money*1268)
  }else if(unit == "위안"){
    return(money*171)
  }
}
won = readline("입력: ")
money_conv(won)

입력: 20 달러

[1] 23340

In [129]:
# 다른 방식
v = c(달러=1167,엔=1.096,유로= 1268, 위안=171)

money_conv <- function(won) 
{
  s = strsplit(won, split=' ')[[1]]
  money = as.integer(s[1])
  unit = s[2]
  return( money*v[unit] )
}
won = readline("입력: ")
money_conv(won)

입력: 20 달러

 달러
23340

In [130]:
# 8. 휴대폰 번호 앞자리에 따라 통신사는 아래와 같이 구분된다. 사용자로부터 휴대전화 번호를 입력 받고, 통신사를 출력하는 프로그램을 작성하라.
#  (함수를 만드시요)
 
# 번호	통신사
#  011	SKT
#  016	KT
#  019	LGU
#  010	알수없음
#  >> 휴대전화 번호 입력: 011-345-1922
#  당신은 SKT 사용자입니다.
phone <- function(number) 
{
    s = strsplit(number, split='-')[[1]]
    front = s[1]
    if(front == "011"){
        return("당신은 SKT 사용자입니다.")
    }else if(front == "016"){
        return("당신은 KT 사용자입니다.")
    }else if(front == "019"){
         return("당신은 LGU사용자입니다")
    }else if(front == '010'){
         return("알수없음")
    }
}
number = readline("입력: ")
phone(number)

입력: 011

[1] "당신은 SKT 사용자입니다."

In [131]:
# 다른 방식 
phone <- function(number) 
{
    v = c( '011'='SKT', '016'='KT', '019'='LGU','010'='알수없음')
    s = strsplit(number, split='-')[[1]]
    front = s[1]
    return( paste("당신은 ",v[front],'사용자입니다', sep=' ') )
}
number = readline("입력: ")
phone(number)

입력: 019

[1] "당신은  LGU 사용자입니다"

In [132]:
#  9. 우편번호는 5자리로 구성되는데, 앞의 세자리는 구를 나타낸다. 예를들어, 강북구의 경우 010, 011, 012 세 자리로 시작한다.
#  -  0  1  2  3  4  5  6  7  8  9
#  01  강북구	강북구	강북구	도봉구	도봉구	도봉구	노원구	노원구	노원구	노원구
#  사용자로 부터 5자리 우편번호를 입력받고 구를 판별하라
#  >> 우편번호: 01400
#  도봉구
mail = readline("우편번호 입력:")
mail = substr(mail,3,3)
if(mail >= 0 & mail<=2 ){
  print("강북구")
}else if(mail >= 3 & mail<=5 ){
  print("도봉구")
}else{
  print("노원구")
}

우편번호 입력:01400
[1] "도봉구"

In [133]:
# 10. 문자열 하나를 입력받아 인터넷 주소를 반환하는 make_url 함수를 정의하라.
# make_url("naver")
# www.naver.com
make_url <- function(a) 
{
  a = as.character(a)
  return( paste("www.",a,".com", sep='') )
}
make_url("naver")

[1] "www.naver.com"