In [1]:
library(magrittr)
library(dplyr)

Warning message:
"package 'magrittr' was built under R version 3.6.3"
Attaching package: 'dplyr'

The following objects are masked from 'package:stats':

    filter, lag

The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

In [3]:
gradeDF = read.csv("C:/R/data/grade.csv", fileEncoding = 'UTF-8')
gradeDF

  학년  과목 결과  중간 기말
1 1학년 국어 좋음  80   90
2 1학년 국어  나쁨 50   40
3 1학년 국어  나쁨 20   50
4 1학년 수학 좋음  83   95
5 1학년 수학 좋음  93   86
6 2학년 국어  나쁨 44   65
7 2학년 국어 좋음  95   98
8 2학년 수학 좋음  96   99
9 2학년 수학  나쁨 57   69

# aggregate join

In [4]:
?aggregate

In [15]:
aggregate(중간 ~ 학년 ,gradeDF, mean)

  학년  중간
1 1학년 65.2
2 2학년 73.0

In [7]:
fn = function(v)
    {
    cat(v, fill=T)
    cat('=========', fill=T)
    return (mean(v))
}

In [8]:
aggregate(중간 ~ 학년, gradeDF, fn)

80 50 20 83 93
=========
44 95 96 57
=========

  학년  중간
1 1학년 65.2
2 2학년 73.0

In [16]:
# 학년별 평균이 70점 이상이면 합격 아니면 불합격으로 표시하시오
aggregate(중간 ~ 학년, gradeDF, function(v) ifelse ( mean(v) > 70, '합격', '불합격') )

  학년  중간
1 1학년 불합격
2 2학년 합격

In [18]:
aggregate( cbind(중간, 기말) ~ 학년, gradeDF, mean)

  학년  중간 기말
1 1학년 65.2 72.20
2 2학년 73.0 82.75

In [19]:
aggregate( cbind(중간, 기말) ~ 학년, gradeDF, fn)

80 50 20 83 93
=========
44 95 96 57
=========
90 40 50 95 86
=========
65 98 99 69
=========

  학년  중간 기말
1 1학년 65.2 72.20
2 2학년 73.0 82.75

In [20]:
aggregate(cbind(중간, 기말) ~ 학년, gradeDF, function(v) ifelse ( mean(v) > 70, '합격', '불합격') )

  학년  중간   기말
1 1학년 불합격 합격
2 2학년 합격   합격

In [21]:
## 학년 및 과목별 중간고사 평균을 구하시오
aggregate( 중간 ~ 학년 + 과목, gradeDF, mean)

  학년  과목 중간
1 1학년 국어 50.0
2 2학년 국어 69.5
3 1학년 수학 88.0
4 2학년 수학 76.5

In [24]:
aggregate( cbind(중간,기말)~학년+과목  ,gradeDF, mean )

  학년  과목 중간 기말
1 1학년 국어 50.0 60.0
2 2학년 국어 69.5 81.5
3 1학년 수학 88.0 90.5
4 2학년 수학 76.5 84.0

# 지도

In [2]:
install.packages('ggplot2')

  There is a binary version available but the source version is later:
        binary source needs_compilation
ggplot2  3.3.3  3.3.5             FALSE

installing the source package 'ggplot2'

In [1]:
library('ggplot2')

ERROR: Error in library("ggplot2"): there is no package called 'ggplot2'

In [26]:
install.packages('leaflet')

also installing the dependencies 'terra', 'viridisLite', 'gridExtra', 'crosstalk', 'htmlwidgets', 'png', 'raster', 'sp', 'viridis', 'leaflet.providers'

  There are binary versions available but the source versions are later:
             binary source needs_compilation
terra         1.2-5 1.5-21              TRUE
crosstalk     1.1.1  1.2.0             FALSE
htmlwidgets   1.5.3  1.5.4             FALSE
raster       3.4-10 3.5-15              TRUE
sp            1.4-5  1.4-6              TRUE
viridis       0.6.1  0.6.2             FALSE
leaflet     2.0.4.1  2.1.1             FALSE

package 'viridisLite' successfully unpacked and MD5 sums checked
package 'gridExtra' successfully unpacked and MD5 sums checked
package 'png' successfully unpacked and MD5 sums checked
package 'leaflet.providers' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\tmp\Rtmpg7mujY\downloaded_packages

installing the source packages 'terra', 'crosstalk', 'htmlwidgets', 'raster', 'sp', 'viridis', 'leaflet'

Warning message in install.packages("leaflet"):
"installation of package 'terra' had non-zero exit status"Warning message in install.packages("leaflet"):
"installation of package 'sp' had non-zero exit status"Warning message in install.packages("leaflet"):
"installation of package 'viridis' had non-zero exit status"Warning message in install.packages("leaflet"):
"installation of package 'raster' had non-zero exit status"Warning message in install.packages("leaflet"):
"installation of package 'leaflet' had non-zero exit status"

In [27]:
library(leaflet)

ERROR: Error in library(leaflet): there is no package called 'leaflet'

In [ ]:
?leaflet

In [ ]:
map = leaflet()